@use "../../../global" as g;
@use "sass:math";

// ------------------------------
// project > home-recent
// ------------------------------

// If the content width is narrow, the gap will be reduced.
.p-home-recent {
  container-type: inline-size;
}

.p-home-recent__header {
  margin-bottom: var(--spacing-lg);
}

@container ( width <= 64rem ) {
  .p-home-recent__header {
    margin-bottom: var(--spacing-md);
  }

}

// If the content width is narrow, the font size will be reduced.
.p-home-recent__header.p-sectionHeader {
  container-type: inline-size;
}

@include g.mq(default) {
  @container ( width <= 32rem ) {

    .p-home-recent__header.p-sectionHeader .p-sectionHeader__subTitle.c-title {
      font-size: var(--fontSize-sm);
    }

    .p-home-recent__header.p-sectionHeader .p-sectionHeader__lead {
      font-size: var(--fontSize-sm);
    }

    .p-home-recent__header.p-sectionHeader .p-sectionHeader__title.c-title {
      font-size: var(--fontSize-xl);
    }

  }
}