@use "../../../global" as g;
@use "sass:math";

// ------------------------------
// project > home-group
// ------------------------------

// .#{g.$pr}p-home-group {
// }

.#{g.$pr}p-home-group__inner {
    display: grid;
    gap: var(--mi-spacing-medium);
    width: 100%;
    max-width: var(--mi-global-wide-size);
    padding-inline: var(--mi-body-x-gap);
    margin-inline: auto;

    @include g.mq(xga) {
        grid-template-columns: repeat( 2, 1fr );
    }

    @include g.mq(wide) {
        gap: var(--mi-spacing-large);
    }

}
