@use "../../../global" as g;
@use "sass:math";

// ------------------------------
// project > home-feature
// ------------------------------

.#{g.$pr}p-home-feature {
    padding-block: var(--mi-spacing-x-large);
}
