@use "../../../global" as g;
@use "sass:math";

// ------------------------------
// project > home-group
// ------------------------------

// .#{g.$pr}p-home-group {
// }

.#{g.$pr}p-home-group__inner {
    display: grid;
    gap: var(--mi-spacing-md);
    width: 100%;
    max-width: var(--mi-container-wide-width);
    padding-inline: var(--mi-screen-x-spacing);
    margin-inline: auto;

    @include g.mq(xga) {
        grid-template-columns: repeat( 2, 1fr );
    }

    @include g.mq(wide) {
        gap: var(--mi-spacing-lg);
    }

}
