@use "../../../global" as g;
@use "sass:math";

// ------------------------------
// project > home-recent
// ------------------------------

.#{g.$pr}p-home-recent {
    padding-block: var(--spacing-xl);
}

.#{g.$pr}p-home-recent__contents {
    margin-top: var(--spacing-lg);
}
