@use "../../../global" as g;
@use "sass:math";

// ------------------------------
// project > home-feature
// ------------------------------

.p-home-feature {
    padding-block: var(--spacing-2xl);
}
