@use "../../../global" as g;
@use "sass:math";

// ------------------------------
// project > home
// ------------------------------

.#{g.$pr}p-home > *:nth-child(2n) {
    background-color: var(--color-default-fade);
}

