@use "../global" as g;
@use "sass:math";

:root {
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-size: var(--fontSize-md);
  font-family: var(--fontFamily-default);
  line-height: var(--lineHeight-md);
  letter-spacing: var(--body-letterSpacing);
}

a {
  color: var(--link-default-color);
	text-decoration-thickness: 0.0625em !important;
  // Asian languages ​​do not have the concept of a "baseline,"
  // so if you leave the underline at the default position,
  // the text and the underline will overlap.
	text-underline-offset: .2em;
}

@include g.mq(hover) {

  a:hover {
    color: var(--link-hover-color);
    text-decoration-line: underline;
    text-underline-offset: 0.3em;
  }

}

a:focus {
  color: var(--link-hover-color);
  outline-color: currentColor;
}
