@use "../global" as g;
@use "sass:math";

.post-password-form > *:has(label[for*="pwbox"]) {
    @include g.flex( n, n, flex-start, n );
    column-gap: var(--spacing-xs);
}

.post-password-form label[for*="pwbox"] {
    @include g.flex( n, n, flex-start, center );
    column-gap: var(--spacing-xs);
    white-space: nowrap;
}

.post-password-form input[type="submit"] {
    @include g.flex( n, n, center, center );
    padding-inline: var(--spacing-xs);
    background-color: var(--ui-inverse-color);
    border: 0.125rem solid var(--ui-accent-color);
    border-radius: var(--border-radius-sm);
    color: var(--ui-default-color);
    font-size: var(--fontSize-md);
    letter-spacing: 0.1em;
    font-weight: var(--fontWeight-bold);
    line-height: var(--lineHeight-none);
    transition: var(--transition-fast);
    text-align: center;
    cursor: pointer;
    outline: none;
}

.post-password-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:focus {
    color: var(--ui-inverse-color);
    background-color: var(--ui-accent-color);
    border-color: var(--ui-accent-color);
    text-decoration: none;
}

.post-password-form input[type="password"] {
    position: relative;
    @include g.flex( n, n, flex-start, center );
    width: 15em;
    padding: 0 var(--spacing-xs);
    min-height: var(--nav-height-md);
    background-color: var(--body-bg);
    border: 0.0625rem solid var(--ui-border-color);
    border-radius: var(--border-radius-sm);
    color: var(--body-color);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-none);
}

.post-password-form input[type="password"]::placeholder {
    color: var(--color-default-light);
}

.post-password-form input[type="password"]:focus {
    border-color: var(--color-border-primary);
    color: var(--color-text-default);
}

.post-password-form-invalid-password {
    font-weight: var(--fontWeight-bold);
    color: var(--color-important);
    background-color: var(--color-important-fade);
    padding: 0.5em;
}

.post-password-form-invalid-password p {
    margin: 0;
}