@use "../global" as g;
@use "sass:math";

.search-form {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    column-gap: var(--spacing-xs);
}

.search-submit {
    @include g.flex( n, n, center, center );
    padding-inline: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    background-color: var(--ui-inverse-color);
    border: 0.125rem solid var(--ui-accent-color);
    color: var(---ui-default-color);
    font-size: var(--fontSize-md);
    letter-spacing: 0.1em;
    font-weight: var(--fontWeight-bold);
    line-height: var(--lineHeight-none);
    transition: var(--transition-fast);
    text-align: center;
    cursor: pointer;
    outline: none;
}

.search-submit,
:root .wp-block-search__button {
    padding-inline: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    background-color: var(--ui-inverse-color);
    border: 0.125rem solid var(--ui-accent-color);
    color: var(---ui-default-color);
}

.search-submit:hover,
.search-submit:focus,
:root .wp-block-search__button:hover,
:root .wp-block-search__button:focus {
    color: var(--ui-inverse-color);
    background-color: var(--ui-accent-color);
    border-color: var(--ui-accent-color);
    text-decoration: none;
}

.search-field {
    position: relative;
    @include g.flex( n, n, flex-start, center );
    width: 100%;
    padding: 0 var(--spacing-xs);
    min-height: var(--nav-height-md);
    background-color: var(--body-bg);
    border: 0.0625rem solid var(--border-default-color);
    border-radius: var(--border-radius-sm);
    color: var(--body-color);
    font-size: var(--fontSize-md);
    line-height: var(--lineHeight-none);
}

.search-field::placeholder {
    color: var(--color-default-light);
}

.search-field:focus {
    border-color: var(--color-border-primary);
    color: var(--color-text-default);
}
