@use "../global" as g;
@use "sass:math";

.widget > .wp-block-group > p:first-child,
.widget > .wp-block-group > h2:first-child,
.widget > .wp-block-group > h3:first-child,
.widget > .wp-block-group > h4:first-child {
    font-size: var(--fontSize-lg);
    font-weight: var(--fontWeight-bold);
    margin-bottom: 1em;
}

.widget [class*="wp-block-latest-"] {
    list-style-type: none;
    padding-left: 0;
}

.widget [class*="wp-block-latest-"] li {
    padding-left: 0;
    margin-bottom: 0;
}

.widget [class*="wp-block-latest-"] li + li {
    margin-top: var(--spacing-xs);
    padding-top: var(--spacing-xs);
    border-top: 0.0625rem solid var(--border-default-light-color);
}

.widget [class*="wp-block-latest-"] a {
    color: currentColor;
}

.widget .wp-block-categories-list {
    padding-left: 0;
    list-style-type: none;
    line-height: var(--lineHeight-xs);
}

.widget .wp-block-categories-list ul {
    padding-left: 1.5em;
    list-style-type: none;
}

.widget .wp-block-categories-list li + li {
    margin-top: 1em;
}

.widget .wp-block-categories-list li ul {
    margin-block: 1em;
}

.widget .wp-block-categories-list li a {
    padding-left: 1.25em;
    color: var(--ui-default-color);
    text-decoration: none;
    @include g.arrow();
}

.widget .wp-block-categories-list li a::before {
  top: calc( var(--nav-height-xs) / 2 );
  left: 0;
  // Since the arrow was rotated with rotate, it needs to move diagonally.
  transform: translateX(-33%) translateY(-33%);
}

@include g.mq(hover) {

    .widget .wp-block-categories-list a:hover {
        text-decoration-line: underline;
    }

}

.widget .wp-block-categories-list a:focus {
    text-decoration-line: underline;
}

.widget .wp-block-categories-list a::before {
    top: calc( ( var(--lineHeight-sm) * 1em ) / 2 - 0.275em );
    left: 0;
}

.widget .wp-block-archives-dropdown .wp-block-archives__label:not(.screen-reader-text) {
    display: block;
    font-size: var(--fontSize-sm);
    margin-bottom: 0.25em;
}

.widget .wp-block-archives-dropdown select {
    padding-inline: 0.5em;
    width: 100%;
    min-height: var(--nav-height-md);
    background-color: var(--body-bg);
    border: 0.0625rem solid var(--border-default-color);
    border-radius: var(--border-radius-sm);
    color: var(--body-color);
    line-height: var(--lineHeight-none);
}

.widget .wp-block-archives-dropdown select:focus {
    outline-color: var(--ui-accent-color);
}
