@use "../global" as g;
@use "sass:math";

:root :where(.wp-element-button, .wp-block-button__link) {
    @include g.flex( n, n, center, center );
    min-height: var(--nav-height-md);
    padding: 0 var(--spacing-sm);
    background-color: var(--ui-accent-color);
    border: 0.125rem solid var(--ui-accent-color);
    border-radius: 99em;
    color: var(--ui-inverse-color);
    font-size: var(--fontSize-md);
    letter-spacing: 0.1em;
    font-weight: var(--fontWeight-bold);
    line-height: var(--lineHeight-none);
    transition: var(--transition-fast);
    white-space: nowrap;
}

:root :where(.wp-element-button, .wp-block-button__link):hover,
:root :where(.wp-element-button, .wp-block-button__link):focus {
    color: var(--ui-default-color);
    background-color: var(--ui-inverse-color);
    text-decoration: none;
}


:root :where(.wp-element-button.is-style-outline, .is-style-outline > .wp-block-button__link) {
    background-color: var(--ui-inverse-color);
    color: var(--ui-default-color);
}

:root :where(.wp-element-button.is-style-outline, .is-style-outline > .wp-block-button__link):hover,
:root :where(.wp-element-button.is-style-outline, .is-style-outline > .wp-block-button__link):focus {
    color: var(--ui-inverse-color);
    background-color: var(--ui-accent-color);
    text-decoration: none;
}
