@use "../global" as g;
@use "sass:math";

.wp-block-post-content {
    overflow-wrap: anywhere;
    word-break: normal;
    line-break: strict;

    h1 {
        font-size: var(--fontSize-3xl);
    }

    h2 {
        font-size: var(--fontSize-2xl);
    }

    h3 {
        font-size: var(--fontSize-xl);
    }

    h4 {
        font-size: var(--fontSize-lg);
    }

    h5 {
        font-size: var(--fontSize-md);
    }

    h6 {
        font-size: var(--fontSize-md);
        font-weight: var(--fontWeight-normal);
    }

    ul {
    list-style-type: disc;
    padding-left: 1.25em;
    }

    li > ul {
    list-style-type: circle;
    }

    li li > ul {
    list-style-type: square;
    }

    ol {
    list-style-type: decimal;
    padding-left: 1.25em;
    }

    li > ol {
    list-style-type: lower-alpha;
    }

    li li > ol {
    list-style-type: lower-roman;
    }

    li + *,
    li ul,
    li ol {
    margin-block-start: var(--spacing-xs);
    }

    > blockquote {
        padding-left: 2em;
        border-left: 0.25rem solid var(--color-default-lighter);
    }

    > pre {
        padding: var(--spacing-xs);
        border: 0.0625rem solid var(--color-default-lighter);
        line-height: var(--lineHeight-none);
    }

    > table {
        max-width: 100%;
    }

    > table th {
        white-space: nowrap;
    }

    > table th,
    > table td {
        border-color: var(--color-default-lighter);
    }

}


// ------------------------------
// post(blog)
// ------------------------------

.p-post.p-post--post .wp-block-post-content {

    h2 {
        font-size: var(--fontSize-xl);
        padding-bottom: 0.25em;
        border-bottom: 0.0625rem solid var(--color-primary);
    }

    h3 {
        font-size: var(--fontSize-lg);
        padding-left: 0.5em;
        border-left: 0.125rem solid var(--color-primary);
    }

    h4 {
        font-size: var(--fontSize-lg);
    }

    > * {
        + h2 {
            margin-block-start: var(--spacing-lg);
        }
    }

    > * {
        + h3 {
            margin-block-start: var(--spacing-md);
        }
    }

    > blockquote,
    > table,
    > ul,
    > ol,
    > dl,
    > pre {
        & + * {
            margin-block-start: var(--spacing-md);
        }
    }

}
