@use "../global" as g;
@use "sass:math";

.wp-block-post-content,
.comment-content {
    overflow-wrap: anywhere;
    word-break: normal;
    line-break: strict;

    img,
    svg,
    iframe,
    video {
        max-width: 100%;
    }

    h1 {
        font-size: var(--font-size-3xl);
    }

    h2 {
        font-size: var(--font-size-2xl);
    }

    h3 {
        font-size: var(--font-size-xl);
    }

    h4 {
        font-size: var(--font-size-lg);
    }

    h5 {
        font-size: var(--font-size-md);
    }

    h6 {
        font-size: var(--font-size-md);
        font-weight: var(--fontWeight-normal);
    }

    ul {
        list-style-type: disc;
        padding-left: 1.25em;
    }

    li > ul {
        list-style-type: circle;
    }

    li li > ul {
        list-style-type: square;
    }

    ol {
        list-style-type: decimal;
        padding-left: 1.25em;
    }

    li > ol {
        list-style-type: lower-alpha;
    }

    li li > ol {
        list-style-type: lower-roman;
    }

    li + *,
    li ul,
    li ol {
        margin-block-start: var(--spacing-xs);
    }

    > blockquote {
        margin-inline: 0;
        padding-left: var(--spacing-sm);
        border-left: 0.25rem solid var(--color-default-lighter);
    }

    > pre {
        font-size: var(--font-size-sm);
        padding: var(--spacing-xs);
        border: 0.0625rem solid var(--ui-border-color);
        color: var(--body-color);
        background-color: var(--ui-fade-color);
        line-height: var(--lineHeight-xs);
    }

    > table {
        max-width: 100%;
    }

    > table th {
        white-space: nowrap;
    }

    > table th,
    > table td {
        border-color: var(--color-default-lighter);
    }

}


// ------------------------------
// blog
// ------------------------------

.p-post.p-post--blog .wp-block-post-content {

    h2 {
        font-size: var(--font-size-xl);
        padding-bottom: 0.25em;
        border-bottom: 0.0625rem solid var(--color-primary);
    }

    h3 {
        position: relative;
        padding-left: var(--spacing-xs);
        font-size: var(--font-size-lg);
    }

    h3::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.125rem;
        background-color: var(--color-primary);
    }

    h4 {
        position: relative;
        padding-left: var(--spacing-xs);
        font-size: var(--font-size-md);
    }

    h4::before {
        content: "";
        position: absolute;
        top: 0.25em;
        bottom: 0.25em;
        left: 0;
        width: 0.0625rem;
        background-color: var(--color-primary);
    }

    > * {
        + h2 {
            margin-block-start: var(--spacing-md);
        }
    }

}
