@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > date
//  - Displays text based on the post's timestamp or update date.
// ------------------------------

.#{g.$pr}c-date {
  display: block;
  margin: 0;
  color: var(--mi-color-default);
  font-style: normal;
  line-height: var(--mi-line-height-none);
}
