@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > date
//  - Displays text based on the post's timestamp or update date.
// ------------------------------

.c-date {
  display: block;
  margin: 0;
  color: var(--color-default);
  font-style: normal;
  line-height: var(--lineHeight-none);
}
