@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > label
//  - A small label that indicates classification, instructions, or other information.
// ------------------------------

.#{g.$pr}c-label {
  @include g.flex(n, n, center, center);
  padding: 0.25em 0.5em;
  background-color: var(--color-default-light);
  border: 0.0625rem solid var(--color-default-light);
  color: var(--ui-inverse-color);
  font-size: var(--fontSize-2xs);
  line-height: var(--lineHeight-xs);
  text-align: center;
}

a.#{g.$pr}c-label {
  text-decoration: none;
}

@include g.mq(hover) {

  a.#{g.$pr}c-label:hover {
    color: var(--ui-default-color);
    background-color: var(--color-white);
  }

}

a.#{g.$pr}c-label:focus {
  color: var(--ui-default-color);
  background-color: var(--color-white);
}

.#{g.$pr}c-label.#{g.$pr}c-label--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

@include g.mq(hover) {

  a.#{g.$pr}c-label.#{g.$pr}c-label--primary:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
  }

}

a.#{g.$pr}c-label.#{g.$pr}c-label--primary:focus {
  color: var(--color-primary);
  background-color: var(--color-white);
}
