@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > media
//  - Image on the left and content on the right.
// ------------------------------

.#{g.$pr}c-media {
  display: grid;
  grid-template-columns: clamp( 20%, 10rem, 33.33% ) 1fr;
  gap: var(--mi-spacing-small);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.#{g.$pr}c-media__image {
  grid-column: 1 / 1;
}

.#{g.$pr}c-media__contents {
  grid-column: 2 / 2;
}
