@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > nav
//  - Arrange block buttons with appropriate paddings.
//  - Initial state is vertically aligned, and adding a modifier makes it horizontal.
// ------------------------------

.#{g.$pr}c-nav {
  @include g.flex(n, n, n, center);
  gap: var(--mi-spacing-sm);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.#{g.$pr}c-nav > * {
  flex-grow: 0;
}

.#{g.$pr}c-nav li,
.#{g.$pr}c-nav .menu-item {
  margin: 0;
  padding: 0;
}

ul.#{g.$pr}c-nav,
.#{g.$pr}c-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.#{g.$pr}c-nav a {
  @include g.flex(n, n, n, center);
  gap: var(--mi-spacing-xs);
  line-height: var(--mi-lineHeight-sm);
  color: var(--mi-ui-default-color);
  background-color: var(--mi-ui-default-bg);
  text-decoration: none;
}

[class*="--inverse"] .#{g.$pr}c-nav a {
  color: var(--mi-ui-inverse-color);
  background-color: var(--mi-ui-inverse-bg);
}

@include g.mq(hover) {

  .#{g.$pr}c-nav :not(.current-menu-item) > a:hover {
    color: var(--mi-ui-default-color);
    background-color: var(--mi-ui-default-hover-bg);
    text-decoration: none;
  }

  [class*="--inverse"] .#{g.$pr}c-nav :not(.current-menu-item) > a:hover {
    color: var(--mi-ui-inverse-color);
    background-color: var(--mi-ui-inverse-hover-bg);
  }

}

.#{g.$pr}c-nav a:focus {
  color: var(--mi-ui-default-color);
}

[class*="--inverse"] .#{g.$pr}c-nav a:focus {
  color: var(--mi-ui-inverse-color);
}

.#{g.$pr}c-nav__item__label {
  flex-grow: 0;
  flex-shrink: 1;
}
