@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > picture
//  - Position the image so that it covers the center of the element.
// ------------------------------

.#{g.$pr}c-picture {
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 0;
  background-color: var(--body-bg);
}

.#{g.$pr}c-picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.#{g.$pr}c-picture.#{g.$pr}c-picture--1to1 {
  aspect-ratio: 1 / 1;
}

.#{g.$pr}c-picture.#{g.$pr}c-picture--3to2 {
  aspect-ratio: 3 / 2;
}

.#{g.$pr}c-picture.#{g.$pr}c-picture--16to9 {
  aspect-ratio: 16 / 9;
}
