@use "../../global" as g;
@use "sass:math";

.c-skip {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.c-skip:focus {
    clip-path: none;
    top: 10px;
    left: 10px;
    display: block;
    width: auto;
    height: auto;
    padding: 1em 3em 1em;
    color: var(--ui-default-color);
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--ui-inverse-color);
    border: 0.125rem solid var(--ui-default-color);
    line-height: normal;
    text-decoration: none;
    z-index: 100000;
}