@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > summary
//  - Display a modest length of text of about two or three lines, with the line spacing somewhat tight.
// ------------------------------

.c-summary {
  display: block;
  margin: 0;
  color: var(--color-default);
  font-size: var(--fontSize-sm);
  line-height: var(--lineHeight-sm);
}
