@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > summary
//  - Display a modest length of text of about two or three lines, with the line spacing somewhat tight.
// ------------------------------

.#{g.$pr}c-summary {
  display: block;
  margin: 0;
  color: var(--mi-color-default);
  font-size: var(--mi-font-size-small);
  line-height: var(--mi-line-height-sm);
}
