@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > title
//  - A heading that assumes a string.
//  - The default is the same as the current font size.
//  - Adding the `lv-**` class will add decoration according to the heading level.
// ------------------------------

.#{g.$pr}c-title {
  display: block;
  margin: 0;
  font-weight: var(--fontWeight-bold);
  font-family: var(--fontFamily-default);
  line-height: var(--lineHeight-sm);
}

.#{g.$pr}c-title a {
  color: currentColor;
}

.#{g.$pr}c-title.#{g.$pr}c-title--center {
  text-align: center;
}

.#{g.$pr}c-title.#{g.$pr}c-title--lv1 {
  font-size: var(--fontSize-3xl);
}

.#{g.$pr}c-title.#{g.$pr}c-title--lv2 {
  font-size: var(--fontSize-2xl);
}

.#{g.$pr}c-title.#{g.$pr}c-title--lv3 {
  font-size: var(--fontSize-xl);
}

.#{g.$pr}c-title.#{g.$pr}c-title--lv4 {
  font-size: var(--fontSize-lg);
}

.#{g.$pr}c-title.#{g.$pr}c-title--lv5 {
  font-size: var(--fontSize-md);
}

.#{g.$pr}c-title.#{g.$pr}c-title--lv6 {
  font-size: var(--fontSize-sm);
}
