@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > thumbnail
//  - Position the image so that it covers the center of the element.
// ------------------------------

.#{g.$pr}c-thumbnail {
  margin: 0;
}

.#{g.$pr}c-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
