@use "../../global" as g;
@use "sass:math";

// ------------------------------
// component > title
//  - A heading that assumes a string.
//  - The default is the same as the current font size.
//  - Adding the `lv-**` class will add decoration according to the heading level.
// ------------------------------

.c-title {
    display: block;
    margin: 0;
    font-weight: var(--fontWeight-bold);
    font-family: var(--fontFamily-default);
    line-height: var(--lineHeight-sm);
}

.c-title a {
    color: currentColor;
}

.c-title.c-title--center {
    text-align: center;
}

.c-title.c-title--lv1 {
    font-size: var(--font-size-3xl);
}

.c-title.c-title--lv2 {
    font-size: var(--font-size-2xl);
}

.c-title.c-title--lv3 {
    font-size: var(--font-size-xl);
}

.c-title.c-title--lv4 {
    font-size: var(--font-size-lg);
}

.c-title.c-title--lv5 {
    font-size: var(--font-size-md);
}

.c-title.c-title--lv6 {
    font-size: var(--font-size-sm);
}
