@charset "UTF-8";
:root {
  --color-default-dark: var(--wp--preset--color--default-dark);
  --color-default: var(--wp--preset--color--default);
  --color-default-light: var(--wp--preset--color--default-light);
  --color-default-lighter: var(--wp--preset--color--default-lighter);
  --color-default-fade: var(--wp--preset--color--default-fade);
  --color-primary-dark: var(--wp--preset--color--primary-dark);
  --color-primary: var(--wp--preset--color--primary);
  --color-primary-light: var(--wp--preset--color--primary-light);
  --color-primary-lighter: var(--wp--preset--color--primary-lighter);
  --color-primary-fade: var(--wp--preset--color--primary-fade);
  --color-secondary-dark: var(--wp--preset--color--secondary-dark);
  --color-secondary: var(--wp--preset--color--secondary);
  --color-secondary-light: var(--wp--preset--color--secondary-light);
  --color-secondary-lighter: var(--wp--preset--color--secondary-lighter);
  --color-secondary-fade: var(--wp--preset--color--secondary-fade);
  --color-tertiary-dark: var(--wp--preset--color--tertiary-dark);
  --color-tertiary: var(--wp--preset--color--tertiary);
  --color-tertiary-light: var(--wp--preset--color--tertiary-light);
  --color-tertiary-lighter: var(--wp--preset--color--tertiary-lighter);
  --color-tertiary-fade: var(--wp--preset--color--tertiary-fade);
  --color-warning-dark: var(--wp--preset--color--warning-dark);
  --color-warning: var(--wp--preset--color--warning);
  --color-warning-light: var(--wp--preset--color--warning-light);
  --color-warning-lighter: var(--wp--preset--color--warning-lighter);
  --color-warning-fade: var(--wp--preset--color--warning-fade);
  --color-danger-dark: var(--wp--preset--color--danger-dark);
  --color-danger: var(--wp--preset--color--danger);
  --color-danger-light: var(--wp--preset--color--danger-light);
  --color-danger-lighter: var(--wp--preset--color--danger-lighter);
  --color-danger-fade: var(--wp--preset--color--danger-fade);
  --color-white: var(--wp--preset--color--white);
  --color-black: var(--wp--preset--color--black);
  --fontSize-2xs: var(--wp--preset--font-size--2-x-small);
  --fontSize-xs: var(--wp--preset--font-size--x-small);
  --fontSize-sm: var(--wp--preset--font-size--small);
  --fontSize-md: var(--wp--preset--font-size--medium);
  --fontSize-lg: var(--wp--preset--font-size--large);
  --fontSize-xl: var(--wp--preset--font-size--x-large);
  --fontSize-2xl: var(--wp--preset--font-size--2-x-large);
  --fontSize-3xl: var(--wp--preset--font-size--3-x-large);
  --fontSize-4xl: var(--wp--preset--font-size--4-x-large);
  --spacing-xs: var(--wp--preset--spacing--x-small);
  --spacing-sm: var(--wp--preset--spacing--small);
  --spacing-md: var(--wp--preset--spacing--medium);
  --spacing-lg: var(--wp--preset--spacing--large);
  --spacing-xl: var(--wp--preset--spacing--x-large);
  --container-default-width: var(--wp--style--global--content-size);
  --container-wide-width: var(--wp--style--global--wide-size);
  --shadow--sm: var(--wp--preset--shadow--sm);
  --shadow--sm-darken: var(--wp--preset--shadow--sm-darken);
  --shadow--md: var(--wp--preset--shadow--md);
  --shadow--md-darken: var(--wp--preset--shadow--md-darken);
  --shadow--lg: var(--wp--preset--shadow--lg);
  --shadow--lg-darken: var(--wp--preset--shadow--lg-darken);
  --cover-default-color: rgb( 255 255 255 / 0.7 );
  --cover-inverse-color: rgb( 0 0 0 / 0.7 );
  --border-default-color: var(--color-default-lighter);
  --border-default-light-color: rgb( 0 0 0 / 0.2 );
  --border-inverse-color: rgb( 255 255 255 / 0.4 );
  --border-inverse-light-color: rgb( 255 255 255 / 0.2 );
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;
  --fontFamily-default: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", "Meiryo", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  --lineHeight-none: 1;
  --lineHeight-xs: 1.25;
  --lineHeight-sm: 1.5;
  --lineHeight-md: 1.75;
  --lineHeight-lg: 2;
  --body-color: var(--color-default-dark);
  --body-bg: var(--color-white);
  --body-letterSpacing: 0.02em;
  --link-default-color: var(--color-primary-dark);
  --link-hover-color: var(--color-primary-dark);
  --ui-default-color: var(--color-default-dark);
  --ui-inverse-color: var(--color-white);
  --ui-default-bg: transparent;
  --ui-inverse-bg: transparent;
  --ui-default-accent-color: var(--color-primary);
  --ui-inverse-accent-color: var(--color-white);
  --ui-default-hover-bg: transparent;
  --ui-inverse-hover-bg: transparent;
  --screen-x-spacing: var(--wp--preset--font-size--medium);
  --drawer-toggle-width: 2.75rem;
  --nav-height: 2.75rem;
  --nav-default-transition: all 0.5s;
  --nav-cubic-transition: all 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1);
}

/**
 * uaplus.css version 0.0.1
 */
/**
 * Different box model
 * 
 * We use the traditional box model, where the padding and border 
 * of the element is drawn inside and not outside the specified 
 * width and height. That makes combining relative and absolute 
 * units in properties like <code>inline-size</code> and 
 * <code>block-size</code> easier.
 * 
 * See https://en.wikipedia.org/wiki/CSS_box_model
 */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/**
 * Improve focus styles
 *
 * Add spacing between content and its focus outline.
 */
:focus-visible {
  outline-offset: 3px;
}

/**
 * Disable text size adjustment
 * 
 * To improve readability on non-mobile optimized websites, browsers
 * like mobile Safari increase the default font size when you switch
 * a website from portrait to landscape. We don't want that for our 
 * optimized sites.
 *
 * See https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
 */
:where(html) {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
       text-size-adjust: none;
}

/**
 * Increase line height
 *
 * Long paragraphs are easier to read if the line height is higher.
 */
:where(html) {
  line-height: 1.5;
}

/**
 * Add scrollbar gutter
 *
 * Prevent the page from “jumping” when switching from a long to a short page.
 *
 */
:where(html) {
  scrollbar-gutter: stable;
}

/**
 * Remove UA styles for h1s nested in sectioning content
 *
 * Nesting h1s in section, articles, etc., shouldn't influence the 
 * styling of the heading since nesting doesn't influence 
 * semantics either.
 * 
 * See https://github.com/whatwg/html/issues/7867#issuecomment-2632395167
 * See https://github.com/whatwg/html/pull/11102
 * See https://html.spec.whatwg.org/#sections-and-headings
 */
:where(h1) {
  font-size: 2em;
  margin-block: 0.67em;
}

/**
 * Improve abbreviations with titles
 * 
 * The abbr element with the title isn't helpful regarding 
 * accessibility because support is inconsistent, and it's only 
 * accessible to some users. Still, it's commonly used. 
 * This rule shows a dotted underline on abbreviations in all 
 * browsers (there's a bug in Safari) and changes the cursor.
 * 
 * See https://adrianroselli.com/2024/01/using-abbr-element-with-title-attribute.html
 */
:where(abbr[title]) {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

/**
 * Optimize mark element in Forced Colors Mode
 *
 * The colors of the mark element don't change in Forced Colors Mode,
 * which can be problematic. Use system colors instead.
 * 
 * See https://adrianroselli.com/2017/12/tweaking-text-level-styles.html#MarkWHCM
 */
@media (forced-colors: active) {
  mark {
    color: HighlightText;
    background-color: Highlight;
  }
}
/**
 * Announce del, ins, and s to screen readers
 * 
 * With the exception of NVDA (2024.4.2), which announces "deletion",
 * none of the common screen readers announces the <s> element.
 * Voice Over on macOS and iOS and Narrator don't announce 
 * <ins> and <del>. Usually, screen readers not announcing text-level
 * semantics is something we just accept, but devs using elements 
 * like <s> without knowing that they may not convey semantics is a 
 * common issue. We announce the start and end of stricken, inserted,
 * and deleted content with pseudo-elements. For languages other 
 * than English, you should provide translations, e.g. :lang(de) 
 * :where(s::before) { content: "Durchgestrichener Text Beginn "; }
 * 
 * See https://adrianroselli.com/2017/12/tweaking-text-level-styles.html
 */
:where(del, ins, s)::before,
:where(del, ins, s)::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  content: "test";
}

:where(s)::before {
  content: "stricken text start ";
}

:where(s)::after {
  content: " stricken text end";
}

:where(del)::before {
  content: "deletion start ";
}

:where(del)::after {
  content: " deletion end";
}

:where(ins)::before {
  content: "insertion start ";
}

:where(ins)::after {
  content: " insertion end";
}

/**
 * Avoid overflow caused by embedded content
 * 
 * Ensure that embedded content (audio, video, images, etc.) 
 * doesn't overflow its container.
 */
:where(audio, iframe, img, svg, video) {
  max-block-size: 100%;
  max-inline-size: 100%;
}

/**
 * Prevent fieldsets from causing overflow
 *
 * Reset the default `min-inline-size: min-content` to prevent
 * children from stretching fieldsets
 *
 * See https://github.com/twbs/bootstrap/issues/12359
 * and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
 */
:where(fieldset) {
  min-inline-size: 0;
}

/**
 * Turn labels into block elements
 * 
 * Labels for inputs, selects, and textarea should be block 
 * elements.
 */
:where(label):has(+ :where(textarea, input, select)) {
  display: block;
}

/**
 * Increase the block-size of textareas
 *
 * The default height of textareas is small. We increase it a bit.
 */
:where(textarea:not([rows])) {
  min-block-size: 6em;
}

/**
 * Inherit font styling in form elements
 * 
 * buttons, inputs, selects, and textarea should have the same font
 * family and size as the rest of the page.
 */
:where(button, input, select, textarea) {
  font-family: inherit;
  font-size: inherit;
}

/**
 * Normalize search input styles
 *  
 * Remove the rounded corners of search inputs on macOS and IOS 
 * and normalize the background color
 */
:where([type=search]) {
  -webkit-appearance: textfield;
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
  :where([type=search]) {
    border: 1px solid -apple-system-secondary-label;
    background-color: canvas;
  }
}
/**
 * Maintain direction in some input types
 * 
 * Some input types should remain left-aligned in right-to-left
 * languages,but only if the value isn't empty because the 
 * placeholder should be right-aligned.
 *
 * See https://rtlstyling.com/posts/rtl-styling#form-inputs
 */
:where([type=tel], [type=url], [type=email], [type=number]):not(:-moz-placeholder) {
  direction: ltr;
}
:where([type=tel], [type=url], [type=email], [type=number]):not(:placeholder-shown) {
  direction: ltr;
}

/**
 * Improve table styling
 *  
 * With the default styling, tables are hard to scan. These rules 
 * add padding and collapsed borders.
 */
:where(table) {
  border-collapse: collapse;
  border: 1px solid;
}

:where(th, td) {
  border: 1px solid;
  padding: 0.25em 0.5em;
}

/**
 * Fading dialogs
 *  
 * Add fade in and fade out transitions for the dialog element
 * and backdrops
 */
:where(dialog)::backdrop {
  background: oklch(0% 0 0deg / 0.3);
}

:where(dialog),
:where(dialog)::backdrop {
  opacity: 0;
  transition: opacity 300ms ease-out, display 300ms allow-discrete, overlay 300ms allow-discrete;
}

:where(dialog[open]),
:where(dialog[open])::backdrop {
  opacity: 1;
}

@starting-style {
  :where(dialog[open]),
  :where(dialog[open])::backdrop {
    opacity: 0;
  }
}
/**
 * Increase specificity of [hidden]
 *  
 * Make it harder to accidentally unhide elements with the 
 * [hidden] attribute while still maintaining the until-found 
 * functionality.
 */
[hidden]:not([hidden=until-found]) {
  display: none !important;
}

:root {
  interpolate-size: allow-keywords;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-size: var(--fontSize-md);
  font-family: var(--fontFamily-default);
  line-height: var(--lineHeight-md);
  letter-spacing: var(--body-letterSpacing);
}

a {
  color: var(--link-default-color);
  text-decoration-thickness: 0.0625em !important;
  text-underline-offset: 0.2em;
}

@media (any-hover: hover) {
  a:hover {
    color: var(--link-hover-color);
    text-decoration-line: underline;
    text-underline-offset: 0.3em;
  }
}
a:focus {
  color: var(--link-hover-color);
  outline-color: currentColor;
}

.mi-l-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  border-top: 0.0625rem solid var(--border-default-light-color);
}

.mi-l-footer__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--spacing-md);
}

.mi-l-footer__contents > *:first-child {
  padding-top: var(--spacing-md);
}

.mi-l-footer__copyright {
  padding: var(--spacing-md) var(--screen-x-spacing) calc(var(--spacing-md) + var(--nav-height));
}

.mi-l-footer__copyright__body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  margin: 0;
  font-size: var(--fontSize-sm);
  line-height: var(--lineHeight-none);
}

.mi-l-header {
  position: relative;
  padding-top: var(--spacing-sm);
  border-bottom: 0.0625rem solid var(--border-default-light-color);
}

.mi-l-header__contents {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: var(--spacing-sm) var(--spacing-md);
}

.mi-l-header__contents__siteTitle {
  grid-area: 1/1/2/2;
  height: var(--nav-height);
}

.mi-l-header__contents__menu01 {
  grid-area: 2/1/3/3;
}

@media screen and (max-width: 1023.9px) {
  .mi-l-header__contents__menu01 {
    display: none;
  }
}
.mi-l-header__contents__menu02 {
  grid-area: 1/2/2/3;
  align-self: center;
  justify-self: flex-end;
  padding-right: calc(var(--drawer-toggle-width) + var(--spacing-md));
}

@media screen and (max-width: 1023.9px) {
  .mi-l-header__contents__menu02 {
    display: none;
  }
}
.mi-l-container {
  width: 100%;
  max-width: var(--container-wide-width);
  padding-inline: var(--screen-x-spacing);
  margin-inline: auto;
}

.mi-l-container--sm {
  max-width: var(--container-default-width);
}

.mi-l-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.mi-l-flex > * {
  flex-grow: 0;
  flex-shrink: 1;
}

.mi-l-flex.mi-l-flex--grow {
  width: 100%;
}

.mi-l-flex.mi-l-flex--grow > * {
  flex-grow: 1;
}

.mi-l-flex.mi-l-flex--center {
  justify-content: center;
  align-items: center;
}

.mi-c-date {
  display: block;
  margin: 0;
  color: var(--color-default);
  font-style: normal;
  line-height: var(--lineHeight-none);
}

.mi-c-label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  background-color: var(--color-default-light);
  border: 0.0625rem solid var(--color-default-light);
  color: var(--ui-inverse-color);
  font-size: var(--fontSize-2xs);
  line-height: var(--lineHeight-xs);
  text-align: center;
}

a.mi-c-label {
  text-decoration: none;
}

@media (any-hover: hover) {
  a.mi-c-label:hover {
    color: var(--ui-default-color);
    background-color: var(--color-white);
  }
}
a.mi-c-label:focus {
  color: var(--ui-default-color);
  background-color: var(--color-white);
}

.mi-c-label.mi-c-label--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

@media (any-hover: hover) {
  a.mi-c-label.mi-c-label--primary:hover {
    color: var(--color-primary);
    background-color: var(--color-white);
  }
}
a.mi-c-label.mi-c-label--primary:focus {
  color: var(--color-primary);
  background-color: var(--color-white);
}

.mi-c-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mi-c-nav > * {
  flex-grow: 0;
}

.mi-c-nav li,
.mi-c-nav .menu-item {
  margin: 0;
  padding: 0;
}

ul.mi-c-nav,
.mi-c-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mi-c-nav a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  line-height: var(--lineHeight-sm);
  color: var(--ui-default-color);
  background-color: var(--ui-default-bg);
  text-decoration: none;
}

[class*="--inverse"] .mi-c-nav a {
  color: var(--ui-inverse-color);
  background-color: var(--ui-inverse-bg);
}

@media (any-hover: hover) {
  .mi-c-nav :not(.current-menu-item) > a:hover {
    color: var(--ui-default-color);
    background-color: var(--ui-default-hover-bg);
    text-decoration: none;
  }
  [class*="--inverse"] .mi-c-nav :not(.current-menu-item) > a:hover {
    color: var(--ui-inverse-color);
    background-color: var(--ui-inverse-hover-bg);
  }
}
.mi-c-nav a:focus {
  color: var(--ui-default-color);
}

[class*="--inverse"] .mi-c-nav a:focus {
  color: var(--ui-inverse-color);
}

.mi-c-nav__item__label {
  flex-grow: 0;
  flex-shrink: 1;
}

.mi-c-picture {
  overflow: hidden;
  display: block;
  width: 100%;
  margin: 0;
  background-color: var(--color-white);
}

.mi-c-picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.mi-c-picture.mi-c-picture--1to1 {
  aspect-ratio: 1/1;
}

.mi-c-picture.mi-c-picture--3to2 {
  aspect-ratio: 3/2;
}

.mi-c-picture.mi-c-picture--16to9 {
  aspect-ratio: 16/9;
}

.mi-c-summary {
  display: block;
  margin: 0;
  color: var(--color-default);
  font-size: var(--fontSize-sm);
  line-height: var(--lineHeight-sm);
}

.mi-c-toggleButton {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: var(--nav-height);
  height: var(--nav-height);
  padding: 0;
  border: 0 none;
  background-color: transparent;
  color: var(--color-text-default);
  cursor: pointer;
}

.mi-c-toggleButton:focus {
  outline-color: currentColor;
}

.mi-c-toggleButton__label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.mi-c-toggleButton__icon {
  position: relative;
  width: 2rem;
  height: 0.125rem;
  background-color: currentColor;
  transform-origin: center center;
  transition: var(--nav-default-transition);
}

@media screen and (min-width: 768px) {
  .mi-c-toggleButton__icon {
    width: 100%;
  }
}
.mi-c-toggleButton__icon::before,
.mi-c-toggleButton__icon::after {
  content: "";
  width: 100%;
  height: 0.125rem;
  background-color: currentColor;
  transition: var(--nav-cubic-transition);
}

.mi-c-toggleButton__icon::before {
  position: absolute;
  top: -0.65rem;
  left: 0;
}

.mi-c-toggleButton__icon::after {
  position: absolute;
  right: 0;
  bottom: -0.65rem;
}

@media screen and (min-width: 768px) {
  .mi-c-toggleButton__icon::before {
    top: -0.875rem;
  }
  .mi-c-toggleButton__icon::after {
    bottom: -0.875rem;
  }
}
.mi-c-toggleButton[aria-expanded=true] .mi-c-toggleButton__icon {
  background-color: transparent;
  rotate: 45deg;
}

.mi-c-toggleButton[aria-expanded=true] .mi-c-toggleButton__icon::before,
.mi-c-toggleButton[aria-expanded=true] .mi-c-toggleButton__icon::after {
  transform: scaleX(1.14);
}

.mi-c-toggleButton[aria-expanded=true] .mi-c-toggleButton__icon::before {
  top: 0;
}

.mi-c-toggleButton[aria-expanded=true] .mi-c-toggleButton__icon::after {
  bottom: 0;
  rotate: 90deg;
}

.mi-c-title {
  display: block;
  margin: 0;
  font-weight: bold;
  font-family: var(--fontFamily-default);
  line-height: var(--lineHeight-sm);
}

.mi-c-title a {
  color: currentColor;
}

.mi-c-title.mi-c-title--center {
  text-align: center;
}

.mi-c-title.mi-c-title--lv1 {
  font-size: var(--fontSize-3xl);
}

.mi-c-title.mi-c-title--lv2 {
  font-size: var(--fontSize-2xl);
}

.mi-c-title.mi-c-title--lv3 {
  font-size: var(--fontSize-xl);
}

.mi-c-title.mi-c-title--lv4 {
  font-size: var(--fontSize-lg);
}

.mi-c-title.mi-c-title--lv5 {
  font-size: var(--fontSize-md);
}

.mi-c-title.mi-c-title--lv6 {
  font-size: var(--fontSize-sm);
}

.mi-p-card__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing-xs);
}

a.mi-p-card__inner {
  color: currentColor;
  text-decoration: none;
}

a.mi-p-card__inner .mi-p-card__title {
  width: 100%;
  text-decoration: underline;
}

.mi-p-card__image img {
  transition: var(--nav-default-transition);
}

.mi-p-card__contents {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing-xs);
}

.mi-p-card__contents > * {
  margin: 0;
}

.mi-p-card__meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--fontSize-sm);
}

.mi-p-card__meta > * {
  flex-grow: 0;
}

@media (any-hover: hover) {
  a.mi-p-card__inner:hover .mi-p-card__image img {
    opacity: 0.8;
    transform: scale(1.1);
  }
}
.mi-p-drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 0;
}

.mi-p-drawer::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  background-color: var(--body-bg);
  width: 100dvw;
  height: 100dvh;
  transform: scaleY(0);
  transform-origin: top center;
}

.mi-p-drawer__contents {
  overflow: hidden;
  position: relative;
  z-index: 103;
  height: 0;
  background-color: var(--body-bg);
  opacity: 0;
  transform: translateY(-1rem);
  transform-origin: center center;
}

.mi-p-drawer__contents__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-md);
  padding-top: calc(var(--drawer-toggle-width) + var(--spacing-sm));
  padding-bottom: calc(var(--drawer-toggle-width) + var(--spacing-sm));
}

.mi-p-drawer.-is-opening {
  height: auto;
}

.mi-p-drawer.-is-opening::after {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.5s 0s ease-out;
}

.mi-p-drawer.-is-opening .mi-p-drawer__contents {
  overflow: hidden;
  height: auto;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s 0.3s ease-out;
}

body:has(.mi-p-drawer[aria-hidden=false]),
body:has(.mi-p-drawer.-is-opening),
body:has(.mi-p-drawer.-is-closing) {
  overflow: hidden;
  height: 100dvh;
}

.mi-p-drawer[aria-hidden=false]:not(.-is-closing) {
  height: auto;
}

.mi-p-drawer[aria-hidden=false]:not(.-is-closing)::after {
  opacity: 1;
  transform: scaleY(1);
}

.mi-p-drawer[aria-hidden=false]:not(.-is-closing) .mi-p-drawer__contents {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100dvh;
  opacity: 1;
  transform: translateY(0);
}

.mi-p-drawer.-is-closing::after {
  transform: scaleY(0);
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.mi-p-drawer.-is-closing .mi-p-drawer__contents {
  overflow: hidden;
  opacity: 0;
  height: auto;
  transform: translateY(-1rem);
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.mi-p-drawerToggle {
  position: fixed;
  top: 0;
  right: var(--screen-x-spacing);
  z-index: 111;
  margin-right: 0;
  padding-top: var(--spacing-sm);
}

@media screen and (min-width: 1280px) {
  .mi-p-drawerToggle {
    right: 50%;
    margin-right: calc(var(--container-wide-width) / -2);
  }
}
.admin-bar .mi-p-drawerToggle {
  margin-top: 46px;
}

@media screen and (min-width: 768px) {
  .admin-bar .mi-p-drawerToggle {
    margin-top: 32px;
  }
}
.mi-p-labels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing-xs);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mi-p-labels > * {
  flex-grow: 0;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
}

.mi-p-siteTitle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  line-height: var(--lineHeight-none);
}

.mi-p-siteTitle > * {
  flex-grow: 0;
}

.mi-p-siteTitle a {
  color: var(--color-default-dark);
  text-decoration: none;
}

@media (any-hover: hover) {
  .mi-p-siteTitle a:hover {
    color: var(--color-default-dark);
    text-decoration: none;
  }
  .mi-p-siteTitle a:hover .mi-p-siteTitle__label {
    text-decoration-line: underline;
    text-underline-offset: 0.25em;
  }
}
.mi-p-siteTitle a:focus {
  color: var(--color-default-dark);
}

.mi-p-siteTitle__label {
  font-size: var(--fontSize-xl);
  font-weight: bold;
}

.mi-p-siteTitle__logo > img,
.mi-p-siteTitle__logo > svg {
  display: block;
  width: 100%;
  max-width: 50vw;
  max-height: 3rem;
}

@media screen and (min-width: 768px) {
  .mi-p-siteTitle__logo > img,
  .mi-p-siteTitle__logo > svg {
    max-width: 20rem;
  }
}
.mi-p-headline__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
  gap: var(--spacing-xs) var(--spacing-sm);
}
@media screen and (min-width: 768px) {
  .mi-p-headline__inner {
    flex-direction: row;
  }
}

.mi-p-headline__inner > * {
  flex-grow: 0;
}

a.mi-p-headline__inner {
  color: currentColor;
  text-decoration: none;
}

a.mi-p-headline__inner .mi-p-headline__title {
  width: 100%;
  text-decoration: underline;
}

.mi-p-headline__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--fontSize-sm);
}

.mi-p-headline__header > * {
  margin: 0;
}

.mi-p-headline__date {
  min-width: 9em;
}

.mi-p-headline__category .mi-c-label {
  width: 7rem;
}

.mi-p-horizontalMenu__nav.mi-c-nav {
  justify-content: center;
  -moz-column-gap: var(--spacing-md);
       column-gap: var(--spacing-md);
}

.mi-p-horizontalMenu:not(.mi-p-horizontalMenu--arrowed) .menu-item + .menu-item {
  position: relative;
}

.mi-p-horizontalMenu:not(.mi-p-horizontalMenu--arrowed) .menu-item + .menu-item::after {
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(var(--spacing-md) / -2);
  content: "";
  width: 0;
  height: 1em;
  border-left: 0.0625rem solid var(--border-default-color);
}

.mi-p-horizontalMenu:not(.mi-p-horizontalMenu--arrowed) a {
  min-height: var(--nav-height);
}

.mi-p-horizontalMenu .current-menu-item > a {
  font-weight: 700;
}

@media (any-hover: hover) {
  .mi-p-horizontalMenu:not(.mi-p-horizontalMenu--arrowed) :not(.current-menu-item) > a:hover {
    text-decoration-line: underline;
    text-underline-offset: 0.25em;
  }
}
.mi-p-horizontalMenu.mi-p-horizontalMenu--inverse {
  color: var(--ui-inverse-color);
  background-color: var(--ui-inverse-bg);
}

.mi-p-horizontalMenu.mi-p-horizontalMenu--arrowed a {
  position: relative;
  padding-left: 1.5em;
}

.mi-p-horizontalMenu.mi-p-horizontalMenu--arrowed a::before,
.mi-p-horizontalMenu.mi-p-horizontalMenu--arrowed a::after {
  position: absolute;
  top: calc(var(--nav-line-height) * 1em / 2 - 0.275em);
  left: 0;
  content: "";
  width: 0.55em;
  height: 0.55em;
  border-top: 0.125em solid var(--ui-default-accent-color);
  border-right: 0.125em solid var(--ui-default-accent-color);
  rotate: 45deg;
}

.mi-p-horizontalMenu.mi-p-horizontalMenu--arrowed a::after {
  opacity: 0;
}

@media (any-hover: hover) {
  .mi-p-horizontalMenu.mi-p-horizontalMenu--arrowed :not(.current-menu-item) > a:hover::after {
    opacity: 1;
    transition: var(--nav-default-transition);
    transform: translateX(75%) translateY(-75%);
  }
}
.mi-p-horizontalMenu.mi-p-horizontalMenu--inverse.mi-p-horizontalMenu--arrowed a {
  position: relative;
  padding-left: 1.5em;
}

.mi-p-horizontalMenu.mi-p-horizontalMenu--inverse.mi-p-horizontalMenu--arrowed a::before,
.mi-p-horizontalMenu.mi-p-horizontalMenu--inverse.mi-p-horizontalMenu--arrowed a::after {
  position: absolute;
  top: calc(var(--nav-line-height) * 1em / 2 - 0.275em);
  left: 0;
  content: "";
  width: 0.55em;
  height: 0.55em;
  border-top: 0.125em solid var(--ui-inverse-accent-color);
  border-right: 0.125em solid var(--ui-inverse-accent-color);
  rotate: 45deg;
}

.mi-p-horizontalMenu.mi-p-horizontalMenu--inverse.mi-p-horizontalMenu--arrowed a::after {
  opacity: 0;
}

.mi-p-media__inner {
  display: grid;
  grid-template-columns: min(10rem, 20%) 1fr;
  gap: var(--spacing-sm);
}

a.mi-p-media__inner {
  color: currentColor;
  text-decoration: none;
}

a.mi-p-media__inner .mi-p-media__title {
  width: 100%;
  text-decoration: underline;
}

.mi-p-media__image {
  grid-column: 1/1;
}

.mi-p-media__image img {
  transition: var(--nav-default-transition);
}

.mi-p-media__contents {
  grid-column: 2/2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-xs);
}

.mi-p-media__meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-sm);
  font-size: var(--fontSize-sm);
}

.mi-p-media__meta > * {
  flex-grow: 0;
}

@media (any-hover: hover) {
  a.mi-p-media__inner:hover .mi-p-media__image img {
    opacity: 0.8;
    transform: scale(1.1);
  }
}
.mi-p-megaMenu {
  position: relative;
}

.mi-p-megaMenu__nav > .menu-item > a {
  position: relative;
  justify-content: center;
  width: 100%;
  min-height: var(--nav-height);
  padding-inline: var(--spacing-md);
  font-size: var(--fontSize-lg);
  font-weight: 700;
  letter-spacing: 0.15em;
  z-index: 21;
}

.mi-p-megaMenu__nav > .menu-item > a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -0.0625rem;
  width: 100%;
  height: 0.125rem;
  background-color: var(--ui-default-accent-color);
  transform-origin: center center;
  transition: var(--nav-cubic-transition);
  opacity: 1;
  transform: translateY(0);
}

.mi-p-megaMenu__nav > .menu-item:not(.current-menu-item):not(:hover) > a::after,
.mi-p-megaMenu__nav:has(> .menu-item:hover) > .menu-item:not(:hover) > a::after {
  opacity: 0;
  transform: translateY(-400%);
}

.mi-p-megaMenu__nav .sub-menu {
  font-size: var(--fontSize-sm);
}

.mi-p-megaMenu__nav > .menu-item > .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-sm);
  width: 100%;
  padding-inline: var(--spacing-md);
  color: var(--ui-default-color);
  transition: all 0.3s 0.3s linear;
}

.mi-p-megaMenu__nav > .menu-item > .sub-menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
  border-top: 1px solid var(--border-default-color);
  box-shadow: var(--shadow--sm);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.5s 0.3s ease-in;
}

.mi-p-megaMenu__nav > .menu-item > .sub-menu > * {
  position: relative;
  z-index: 12;
  overflow: hidden;
  height: 0;
  opacity: 0;
  flex-grow: 0;
  flex-basis: 15em;
  transform: translateY(-10%);
  transition: all 0.5s 0s ease-in;
}

@media (any-hover: hover) {
  .mi-p-megaMenu__nav > .menu-item:hover > .sub-menu {
    padding-block: var(--spacing-sm);
    transition: all 0.3s 0s linear;
  }
}
@media (any-hover: hover) {
  .mi-p-megaMenu__nav > .menu-item:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 13;
    width: 100%;
    height: 1rem;
    background-color: var(--body-bg);
  }
  .mi-p-megaMenu__nav > .menu-item:hover > .sub-menu::after {
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.5s 0s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .mi-p-megaMenu__nav > .menu-item:hover > .sub-menu > * {
    height: auto;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  }
}
@media screen and (min-width: 768px) {
  .mi-p-megaMenu__nav.c-nav > * {
    flex-basis: calc(50% - var(--spacing-md) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .mi-p-megaMenu__nav.c-nav > * {
    flex-basis: calc(33.33% - var(--spacing-md) * 2 / 3);
  }
}
.mi-p-megaMenu__nav .sub-menu a {
  justify-content: flex-start;
}
.mi-p-megaMenu__nav .sub-menu a {
  position: relative;
  padding-left: 1.5em;
}

.mi-p-megaMenu__nav .sub-menu a::before,
.mi-p-megaMenu__nav .sub-menu a::after {
  position: absolute;
  top: calc(var(--nav-line-height) * 1em / 2 - 0.275em);
  left: 0;
  content: "";
  width: 0.55em;
  height: 0.55em;
  border-top: 0.125em solid var(--ui-default-accent-color);
  border-right: 0.125em solid var(--ui-default-accent-color);
  rotate: 45deg;
}

.mi-p-megaMenu__nav .sub-menu a::after {
  opacity: 0;
}

@media (any-hover: hover) {
  .mi-p-megaMenu__nav .sub-menu :not(.current-menu-item) > a:hover::after {
    opacity: 1;
    transition: var(--nav-default-transition);
    transform: translateX(75%) translateY(-75%);
  }
}
.mi-p-megaMenu__nav .sub-menu :not(.current-menu-item) > a:focus::after {
  opacity: 1;
  transition: var(--nav-default-transition);
  transform: translateX(75%) translateY(-75%);
}

.mi-p-megaMenu__nav .sub-menu .current-menu-item > a {
  font-weight: 700;
}

.mi-p-megaMenu__nav .sub-menu .sub-menu {
  display: none;
}

.mi-p-posts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.mi-p-posts.mi-p-posts--card {
  gap: var(--spacing-md);
}
@media screen and (min-width: 768px) {
  .mi-p-posts.mi-p-posts--card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

@media screen and (max-width: 767.9px) {
  .mi-p-posts.mi-p-posts--card > * {
    max-width: 30rem;
    margin-inline: auto;
  }
}
@media screen and (min-width: 768px) {
  .mi-p-posts.mi-p-posts--card > * {
    flex-grow: 0;
    width: calc(33.3333% - var(--spacing-md) * 2 / 3);
  }
}

.mi-p-posts.mi-p-posts--card .mi-p-card__inner {
  height: 100%;
}

.mi-p-posts.mi-p-posts--headline {
  border-top: 0.0625rem solid var(--border-default-light-color);
}

.mi-p-posts.mi-p-posts--headline > * {
  padding-block: var(--spacing-sm);
  border-bottom: 0.0625rem solid var(--border-default-light-color);
}
@media screen and (min-width: 768px) {
  .mi-p-posts.mi-p-posts--headline > * {
    padding-block: var(--spacing-xs);
  }
}

.mi-p-posts.mi-p-posts--media {
  gap: var(--spacing-md);
}

.mi-p-sectionHeader__subTitle {
  color: var(--color-primary);
  margin-top: var(--spacing-xs);
}

.mi-p-sectionHeader__lead {
  margin-top: var(--spacing-sm);
  line-height: var(--lineHeight-sm);
}

.mi-p-sectionHeader:has(.mi-c-title--center) .mi-p-sectionHeader__lead {
  text-align: center;
}

.mi-p-sitemap__nav.mi-c-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--spacing-md);
}

@media screen and (min-width: 768px) {
  .mi-p-sitemap__nav.mi-c-nav {
    flex-direction: row;
    gap: var(--spacing-md);
  }
}
@media screen and (min-width: 768px) {
  .mi-p-sitemap__nav.mi-c-nav {
    flex-flow: row wrap;
  }
}
.mi-p-sitemap__nav.mi-c-nav > * {
  flex: 0;
}

@media screen and (min-width: 768px) {
  .mi-p-sitemap__nav.mi-c-nav > * {
    flex-basis: calc(50% - var(--spacing-md) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .mi-p-sitemap__nav.mi-c-nav > * {
    flex-basis: calc(33.33% - var(--spacing-md) * 2 / 3);
  }
}
.mi-p-sitemap__nav a {
  position: relative;
  padding-left: 1.5em;
}

.mi-p-sitemap__nav a::before,
.mi-p-sitemap__nav a::after {
  position: absolute;
  top: calc(var(--nav-line-height) * 1em / 2 - 0.275em);
  left: 0;
  content: "";
  width: 0.55em;
  height: 0.55em;
  border-top: 0.125em solid var(--ui-default-accent-color);
  border-right: 0.125em solid var(--ui-default-accent-color);
  rotate: 45deg;
}

.mi-p-sitemap__nav a::after {
  opacity: 0;
}

@media (any-hover: hover) {
  .mi-p-sitemap__nav :not(.current-menu-item) > a:hover::after {
    opacity: 1;
    transition: var(--nav-default-transition);
    transform: translateX(75%) translateY(-75%);
  }
}
.mi-p-sitemap--inverse .mi-p-sitemap__nav a {
  position: relative;
  padding-left: 1.5em;
}

.mi-p-sitemap--inverse .mi-p-sitemap__nav a::before,
.mi-p-sitemap--inverse .mi-p-sitemap__nav a::after {
  position: absolute;
  top: calc(var(--nav-line-height) * 1em / 2 - 0.275em);
  left: 0;
  content: "";
  width: 0.55em;
  height: 0.55em;
  border-top: 0.125em solid var(--ui-inverse-accent-color);
  border-right: 0.125em solid var(--ui-inverse-accent-color);
  rotate: 45deg;
}

.mi-p-sitemap--inverse .mi-p-sitemap__nav a::after {
  opacity: 0;
}

.mi-p-sitemap__nav > .menu-item > a {
  font-size: var(--fontSize-lg);
  font-weight: 700;
}

.mi-p-sitemap__nav .sub-menu {
  padding-left: 1.25em;
}

.mi-p-sitemap__nav .sub-menu .current-menu-item > a {
  font-weight: 700;
}

.mi-p-sitemap__nav .sub-menu .menu-item {
  margin-top: 1.25em;
}

.mi-p-sitemap__nav .sub-menu > .menu-item:not(:last-child) .sub-menu {
  margin-bottom: 1.5em;
}

.mi-p-stickyMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 21;
  width: 100vw;
  color: var(--ui-default-color);
  background-color: var(--body-bg);
  box-shadow: var(--shadow--sm-darken);
  z-index: 21;
}

.mi-p-stickyMenu__nav.mi-c-nav {
  justify-content: center;
}

.mi-p-stickyMenu__nav a {
  min-height: var(--nav-height);
}

.mi-p-stickyMenu__nav .current-menu-item > a {
  font-weight: 700;
}

@media (any-hover: hover) {
  .mi-p-stickyMenu__nav :not(.current-menu-item) > a:hover {
    text-decoration-line: underline;
    text-underline-offset: 0.25em;
  }
}
.mi-p-stickyMenu.mi-p-stickyMenu--inverse {
  color: var(--ui-inverse-color);
  background-color: var(--ui-inverse-bg);
}

.mi-p-verticalMenu__nav.mi-c-nav {
  flex-flow: column wrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--spacing-md);
}

.mi-p-verticalMenu__nav.mi-c-nav > * {
  flex: 0;
}

@media screen and (min-width: 768px) {
  .mi-p-verticalMenu__nav.mi-c-nav > * {
    flex-basis: calc(50% - var(--spacing-md) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .mi-p-verticalMenu__nav.mi-c-nav > * {
    flex-basis: calc(33.33% - var(--spacing-md) * 2 / 3);
  }
}
.mi-p-verticalMenu__nav > .menu-item > a {
  position: relative;
  font-size: var(--fontSize-xl);
  font-weight: 700;
  text-decoration: none;
  padding-left: var(--spacing-md);
}

.mi-p-verticalMenu__nav > .menu-item > a::before {
  position: absolute;
  top: calc(50% - 0.0625rem);
  left: 0;
  content: "";
  width: calc(var(--spacing-md) - var(--spacing-xs));
  height: 0.125rem;
  background-color: var(--ui-default-accent-color);
  opacity: 1;
  transform: scaleX(1);
  transform-origin: right top;
}

@media (any-hover: hover) {
  .mi-p-verticalMenu__nav > .menu-item > a:hover::before {
    opacity: 0.5;
    transform: scaleX(0.2);
    transition: var(--nav-cubic-transition);
  }
}
.mi-p-verticalMenu.mi-p-verticalMenu--inverse .mi-p-verticalMenu__nav > .menu-item > a::before {
  background-color: var(--ui-inverse-accent-color);
}

.mi-p-verticalMenu__nav > .menu-item > .sub-menu {
  padding-left: calc(var(--spacing-md) - 1.25em);
}

.mi-p-verticalMenu__nav .sub-menu .menu-item {
  margin-top: 1.25em;
}

.mi-p-verticalMenu__nav .sub-menu a {
  position: relative;
  padding-left: 1.5em;
}

.mi-p-verticalMenu__nav .sub-menu a::before,
.mi-p-verticalMenu__nav .sub-menu a::after {
  position: absolute;
  top: calc(var(--nav-line-height) * 1em / 2 - 0.275em);
  left: 0;
  content: "";
  width: 0.55em;
  height: 0.55em;
  border-top: 0.125em solid var(--ui-default-accent-color);
  border-right: 0.125em solid var(--ui-default-accent-color);
  rotate: 45deg;
}

.mi-p-verticalMenu__nav .sub-menu a::after {
  opacity: 0;
}

@media (any-hover: hover) {
  .p-sitemap__nav .sub-menu :not(.current-menu-item) > a:hover::after {
    opacity: 1;
    transition: var(--nav-default-transition);
    transform: translateX(75%) translateY(-75%);
  }
}
.mi-p-verticalMenu--inverse .mi-p-verticalMenu__nav .sub-menu a {
  position: relative;
  padding-left: 1.5em;
}

.mi-p-verticalMenu--inverse .mi-p-verticalMenu__nav .sub-menu a::before,
.mi-p-verticalMenu--inverse .mi-p-verticalMenu__nav .sub-menu a::after {
  position: absolute;
  top: calc(var(--nav-line-height) * 1em / 2 - 0.275em);
  left: 0;
  content: "";
  width: 0.55em;
  height: 0.55em;
  border-top: 0.125em solid var(--ui-inverse-accent-color);
  border-right: 0.125em solid var(--ui-inverse-accent-color);
  rotate: 45deg;
}

.mi-p-verticalMenu--inverse .mi-p-verticalMenu__nav .sub-menu a::after {
  opacity: 0;
}

.mi-p-verticalMenu__nav .sub-menu .sub-menu {
  padding-left: 1.25em;
}

.mi-p-verticalMenu__nav .sub-menu > .menu-item:not(:last-child) .sub-menu {
  margin-bottom: 1.5em;
}

.mi-p-home > *:nth-child(2n) {
  background-color: var(--color-default-fade);
}

.mi-p-home-feature {
  padding-block: var(--spacing-xl);
}

.mi-p-home-group__inner {
  display: grid;
  gap: var(--spacing-md);
  width: 100%;
  max-width: var(--container-wide-width);
  padding-inline: var(--screen-x-spacing);
  margin-inline: auto;
}
@media screen and (min-width: 1024px) {
  .mi-p-home-group__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1280px) {
  .mi-p-home-group__inner {
    gap: var(--spacing-lg);
  }
}

.mi-p-home-headline {
  padding-block: var(--spacing-lg);
}

.mi-p-home-headline__inner {
  display: grid;
  gap: var(--spacing-md);
}
@media screen and (min-width: 1024px) {
  .mi-p-home-headline__inner {
    grid-template-columns: max-content 1fr;
    gap: var(--spacing-lg);
  }
}

@media screen and (min-width: 1024px) {
  .mi-p-home-headline__header {
    text-align: right;
  }
}

.mi-p-home-recent {
  padding-block: var(--spacing-xl);
}

.mi-p-home-recent__contents {
  margin-top: var(--spacing-lg);
}

@media screen and (max-width: 1279.9px) {
  .mi-u-wide {
    display: none !important;
  }
}
@media screen and (max-width: 1023.9px) {
  .mi-u-xga,
  .mi-u-pc {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .mi-u-sp {
    display: none !important;
  }
}
.mi-u-m--0 {
  margin: 0 !important;
}

.mi-u-m--xs {
  margin: var(--spacing-xs) !important;
}

.mi-u-m--sm {
  margin: var(--spacing-sm) !important;
}

.mi-u-m--md {
  margin: var(--spacing-md) !important;
}

.mi-u-m--lg {
  margin: var(--spacing-lg) !important;
}

.mi-u-m--xl {
  margin: var(--spacing-xl) !important;
}

.mi-u-m--t-0 {
  margin-top: 0 !important;
}

.mi-u-m--t-xs {
  margin-top: var(--spacing-xs) !important;
}

.mi-u-m--t-sm {
  margin-top: var(--spacing-sm) !important;
}

.mi-u-m--t-md {
  margin-top: var(--spacing-md) !important;
}

.mi-u-m--t-lg {
  margin-top: var(--spacing-lg) !important;
}

.mi-u-m--t-xl {
  margin-top: var(--spacing-xl) !important;
}

.mi-u-m--b-0 {
  margin-bottom: 0 !important;
}

.mi-u-m--b-xs {
  margin-bottom: var(--spacing-xs) !important;
}

.mi-u-m--b-sm {
  margin-bottom: var(--spacing-sm) !important;
}

.mi-u-m--b-md {
  margin-bottom: var(--spacing-md) !important;
}

.mi-u-m--b-lg {
  margin-bottom: var(--spacing-lg) !important;
}

.mi-u-m--b-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.mi-u-m--l-0 {
  margin-left: 0 !important;
}

.mi-u-m--l-xs {
  margin-left: var(--spacing-xs) !important;
}

.mi-u-m--l-sm {
  margin-left: var(--spacing-sm) !important;
}

.mi-u-m--l-md {
  margin-left: var(--spacing-md) !important;
}

.mi-u-m--l-lg {
  margin-left: var(--spacing-lg) !important;
}

.mi-u-m--l-xl {
  margin-left: var(--spacing-xl) !important;
}

.mi-u-m--r-0 {
  margin-right: 0 !important;
}

.mi-u-m--r-xs {
  margin-right: var(--spacing-xs) !important;
}

.mi-u-m--r-sm {
  margin-right: var(--spacing-sm) !important;
}

.mi-u-m--r-md {
  margin-right: var(--spacing-md) !important;
}

.mi-u-m--r-lg {
  margin-right: var(--spacing-lg) !important;
}

.mi-u-m--r-xl {
  margin-right: var(--spacing-xl) !important;
}

@media screen and (max-width: 767.9px) {
  .mi-u-m--0-sp {
    margin: 0 !important;
  }
  .mi-u-m--xs-sp {
    margin: var(--spacing-xs) !important;
  }
  .mi-u-m--sm-sp {
    margin: var(--spacing-sm) !important;
  }
  .mi-u-m--md-sp {
    margin: var(--spacing-md) !important;
  }
  .mi-u-m--lg-sp {
    margin: var(--spacing-lg) !important;
  }
  .mi-u-m--xl-sp {
    margin: var(--spacing-xl) !important;
  }
  .mi-u-m--t-0-sp {
    margin-top: 0 !important;
  }
  .mi-u-m--t-xs-sp {
    margin-top: var(--spacing-xs) !important;
  }
  .mi-u-m--t-sm-sp {
    margin-top: var(--spacing-sm) !important;
  }
  .mi-u-m--t-md-sp {
    margin-top: var(--spacing-md) !important;
  }
  .mi-u-m--t-lg-sp {
    margin-top: var(--spacing-lg) !important;
  }
  .mi-u-m--t-xl-sp {
    margin-top: var(--spacing-xl) !important;
  }
  .mi-u-m--b-0-sp {
    margin-bottom: 0 !important;
  }
  .mi-u-m--b-xs-sp {
    margin-bottom: var(--spacing-xs) !important;
  }
  .mi-u-m--b-sm-sp {
    margin-bottom: var(--spacing-sm) !important;
  }
  .mi-u-m--b-md-sp {
    margin-bottom: var(--spacing-md) !important;
  }
  .mi-u-m--b-lg-sp {
    margin-bottom: var(--spacing-lg) !important;
  }
  .mi-u-m--b-xl-sp {
    margin-bottom: var(--spacing-xl) !important;
  }
  .mi-u-m--l-0-sp {
    margin-left: 0 !important;
  }
  .mi-u-m--l-xs-sp {
    margin-left: var(--spacing-xs) !important;
  }
  .mi-u-m--l-sm-sp {
    margin-left: var(--spacing-sm) !important;
  }
  .mi-u-m--l-md-sp {
    margin-left: var(--spacing-md) !important;
  }
  .mi-u-m--l-lg-sp {
    margin-left: var(--spacing-lg) !important;
  }
  .mi-u-m--l-xl-sp {
    margin-left: var(--spacing-xl) !important;
  }
  .mi-u-m--r-0-sp {
    margin-right: 0 !important;
  }
  .mi-u-m--r-xs-sp {
    margin-right: var(--spacing-xs) !important;
  }
  .mi-u-m--r-sm-sp {
    margin-right: var(--spacing-sm) !important;
  }
  .mi-u-m--r-md-sp {
    margin-right: var(--spacing-md) !important;
  }
  .mi-u-m--r-lg-sp {
    margin-right: var(--spacing-lg) !important;
  }
  .mi-u-m--r-xl-sp {
    margin-right: var(--spacing-xl) !important;
  }
}
@media screen and (min-width: 768px) {
  .mi-u-m--0-pc {
    margin: 0 !important;
  }
  .mi-u-m--xs-pc {
    margin: var(--spacing-xs) !important;
  }
  .mi-u-m--sm-pc {
    margin: var(--spacing-sm) !important;
  }
  .mi-u-m--md-pc {
    margin: var(--spacing-md) !important;
  }
  .mi-u-m--lg-pc {
    margin: var(--spacing-lg) !important;
  }
  .mi-u-m--xl-pc {
    margin: var(--spacing-xl) !important;
  }
  .mi-u-m--t-0-pc {
    margin-top: 0 !important;
  }
  .mi-u-m--t-xs-pc {
    margin-top: var(--spacing-xs) !important;
  }
  .mi-u-m--t-sm-pc {
    margin-top: var(--spacing-sm) !important;
  }
  .mi-u-m--t-md-pc {
    margin-top: var(--spacing-md) !important;
  }
  .mi-u-m--t-lg-pc {
    margin-top: var(--spacing-lg) !important;
  }
  .mi-u-m--t-xl-pc {
    margin-top: var(--spacing-xl) !important;
  }
  .mi-u-m--b-0-pc {
    margin-bottom: 0 !important;
  }
  .mi-u-m--b-xs-pc {
    margin-bottom: var(--spacing-xs) !important;
  }
  .mi-u-m--b-sm-pc {
    margin-bottom: var(--spacing-sm) !important;
  }
  .mi-u-m--b-md-pc {
    margin-bottom: var(--spacing-md) !important;
  }
  .mi-u-m--b-lg-pc {
    margin-bottom: var(--spacing-lg) !important;
  }
  .mi-u-m--b-xl-pc {
    margin-bottom: var(--spacing-xl) !important;
  }
  .mi-u-m--l-0-pc {
    margin-left: 0 !important;
  }
  .mi-u-m--l-xs-pc {
    margin-left: var(--spacing-xs) !important;
  }
  .mi-u-m--l-sm-pc {
    margin-left: var(--spacing-sm) !important;
  }
  .mi-u-m--l-md-pc {
    margin-left: var(--spacing-md) !important;
  }
  .mi-u-m--l-lg-pc {
    margin-left: var(--spacing-lg) !important;
  }
  .mi-u-m--l-xl-pc {
    margin-left: var(--spacing-xl) !important;
  }
  .mi-u-m--r-0-pc {
    margin-right: 0 !important;
  }
  .mi-u-m--r-xs-pc {
    margin-right: var(--spacing-xs) !important;
  }
  .mi-u-m--r-sm-pc {
    margin-right: var(--spacing-sm) !important;
  }
  .mi-u-m--r-md-pc {
    margin-right: var(--spacing-md) !important;
  }
  .mi-u-m--r-lg-pc {
    margin-right: var(--spacing-lg) !important;
  }
  .mi-u-m--r-xl-pc {
    margin-right: var(--spacing-xl) !important;
  }
}
.mi-u-p--0 {
  margin: 0 !important;
}

.mi-u-p--xs {
  margin: var(--spacing-xs) !important;
}

.mi-u-p--sm {
  margin: var(--spacing-sm) !important;
}

.mi-u-p--md {
  margin: var(--spacing-md) !important;
}

.mi-u-p--lg {
  margin: var(--spacing-lg) !important;
}

.mi-u-p--xl {
  margin: var(--spacing-xl) !important;
}

.mi-u-p--t-0 {
  padding-top: 0 !important;
}

.mi-u-p--t-xs {
  padding-top: var(--spacing-xs) !important;
}

.mi-u-p--t-sm {
  padding-top: var(--spacing-sm) !important;
}

.mi-u-p--t-md {
  padding-top: var(--spacing-md) !important;
}

.mi-u-p--t-lg {
  padding-top: var(--spacing-lg) !important;
}

.mi-u-p--t-xl {
  padding-top: var(--spacing-xl) !important;
}

.mi-u-p--b-0 {
  padding-bottom: 0 !important;
}

.mi-u-p--b-xs {
  padding-bottom: var(--spacing-xs) !important;
}

.mi-u-p--b-sm {
  padding-bottom: var(--spacing-sm) !important;
}

.mi-u-p--b-md {
  padding-bottom: var(--spacing-md) !important;
}

.mi-u-p--b-lg {
  padding-bottom: var(--spacing-lg) !important;
}

.mi-u-p--b-xl {
  padding-bottom: var(--spacing-xl) !important;
}

.mi-u-p--l-0 {
  padding-left: 0 !important;
}

.mi-u-p--l-xs {
  padding-left: var(--spacing-xs) !important;
}

.mi-u-p--l-sm {
  padding-left: var(--spacing-sm) !important;
}

.mi-u-p--l-md {
  padding-left: var(--spacing-md) !important;
}

.mi-u-p--l-lg {
  padding-left: var(--spacing-lg) !important;
}

.mi-u-p--l-xl {
  padding-left: var(--spacing-xl) !important;
}

.mi-u-p--r-0 {
  padding-right: 0 !important;
}

.mi-u-p--r-xs {
  padding-right: var(--spacing-xs) !important;
}

.mi-u-p--r-sm {
  padding-right: var(--spacing-sm) !important;
}

.mi-u-p--r-md {
  padding-right: var(--spacing-md) !important;
}

.mi-u-p--r-lg {
  padding-right: var(--spacing-lg) !important;
}

.mi-u-p--r-xl {
  padding-right: var(--spacing-xl) !important;
}

@media screen and (max-width: 767.9px) {
  .mi-u-p--0-sp {
    margin: 0 !important;
  }
  .mi-u-p--xs-sp {
    margin: var(--spacing-xs) !important;
  }
  .mi-u-p--sm-sp {
    margin: var(--spacing-sm) !important;
  }
  .mi-u-p--md-sp {
    margin: var(--spacing-md) !important;
  }
  .mi-u-p--lg-sp {
    margin: var(--spacing-lg) !important;
  }
  .mi-u-p--xl-sp {
    margin: var(--spacing-xl) !important;
  }
  .mi-u-p--t-0-sp {
    padding-top: 0 !important;
  }
  .mi-u-p--t-xs-sp {
    padding-top: var(--spacing-xs) !important;
  }
  .mi-u-p--t-sm-sp {
    padding-top: var(--spacing-sm) !important;
  }
  .mi-u-p--t-md-sp {
    padding-top: var(--spacing-md) !important;
  }
  .mi-u-p--t-lg-sp {
    padding-top: var(--spacing-lg) !important;
  }
  .mi-u-p--t-xl-sp {
    padding-top: var(--spacing-xl) !important;
  }
  .mi-u-p--b-0-sp {
    padding-bottom: 0 !important;
  }
  .mi-u-p--b-xs-sp {
    padding-bottom: var(--spacing-xs) !important;
  }
  .mi-u-p--b-sm-sp {
    padding-bottom: var(--spacing-sm) !important;
  }
  .mi-u-p--b-md-sp {
    padding-bottom: var(--spacing-md) !important;
  }
  .mi-u-p--b-lg-sp {
    padding-bottom: var(--spacing-lg) !important;
  }
  .mi-u-p--b-xl-sp {
    padding-bottom: var(--spacing-xl) !important;
  }
  .mi-u-p--l-0-sp {
    padding-left: 0 !important;
  }
  .mi-u-p--l-xs-sp {
    padding-left: var(--spacing-xs) !important;
  }
  .mi-u-p--l-sm-sp {
    padding-left: var(--spacing-sm) !important;
  }
  .mi-u-p--l-md-sp {
    padding-left: var(--spacing-md) !important;
  }
  .mi-u-p--l-lg-sp {
    padding-left: var(--spacing-lg) !important;
  }
  .mi-u-p--l-xl-sp {
    padding-left: var(--spacing-xl) !important;
  }
  .mi-u-p--r-0-sp {
    padding-right: 0 !important;
  }
  .mi-u-p--r-xs-sp {
    padding-right: var(--spacing-xs) !important;
  }
  .mi-u-p--r-sm-sp {
    padding-right: var(--spacing-sm) !important;
  }
  .mi-u-p--r-md-sp {
    padding-right: var(--spacing-md) !important;
  }
  .mi-u-p--r-lg-sp {
    padding-right: var(--spacing-lg) !important;
  }
  .mi-u-p--r-xl-sp {
    padding-right: var(--spacing-xl) !important;
  }
}
@media screen and (min-width: 768px) {
  .mi-u-p--0-pc {
    margin: 0 !important;
  }
  .mi-u-p--xs-pc {
    margin: var(--spacing-xs) !important;
  }
  .mi-u-p--sm-pc {
    margin: var(--spacing-sm) !important;
  }
  .mi-u-p--md-pc {
    margin: var(--spacing-md) !important;
  }
  .mi-u-p--lg-pc {
    margin: var(--spacing-lg) !important;
  }
  .mi-u-p--xl-pc {
    margin: var(--spacing-xl) !important;
  }
  .mi-u-p--t-0-pc {
    padding-top: 0 !important;
  }
  .mi-u-p--t-xs-pc {
    padding-top: var(--spacing-xs) !important;
  }
  .mi-u-p--t-sm-pc {
    padding-top: var(--spacing-sm) !important;
  }
  .mi-u-p--t-md-pc {
    padding-top: var(--spacing-md) !important;
  }
  .mi-u-p--t-lg-pc {
    padding-top: var(--spacing-lg) !important;
  }
  .mi-u-p--t-xl-pc {
    padding-top: var(--spacing-xl) !important;
  }
  .mi-u-p--b-0-pc {
    padding-bottom: 0 !important;
  }
  .mi-u-p--b-xs-pc {
    padding-bottom: var(--spacing-xs) !important;
  }
  .mi-u-p--b-sm-pc {
    padding-bottom: var(--spacing-sm) !important;
  }
  .mi-u-p--b-md-pc {
    padding-bottom: var(--spacing-md) !important;
  }
  .mi-u-p--b-lg-pc {
    padding-bottom: var(--spacing-lg) !important;
  }
  .mi-u-p--b-xl-pc {
    padding-bottom: var(--spacing-xl) !important;
  }
  .mi-u-p--l-0-pc {
    padding-left: 0 !important;
  }
  .mi-u-p--l-xs-pc {
    padding-left: var(--spacing-xs) !important;
  }
  .mi-u-p--l-sm-pc {
    padding-left: var(--spacing-sm) !important;
  }
  .mi-u-p--l-md-pc {
    padding-left: var(--spacing-md) !important;
  }
  .mi-u-p--l-lg-pc {
    padding-left: var(--spacing-lg) !important;
  }
  .mi-u-p--l-xl-pc {
    padding-left: var(--spacing-xl) !important;
  }
  .mi-u-p--r-0-pc {
    padding-right: 0 !important;
  }
  .mi-u-p--r-xs-pc {
    padding-right: var(--spacing-xs) !important;
  }
  .mi-u-p--r-sm-pc {
    padding-right: var(--spacing-sm) !important;
  }
  .mi-u-p--r-md-pc {
    padding-right: var(--spacing-md) !important;
  }
  .mi-u-p--r-lg-pc {
    padding-right: var(--spacing-lg) !important;
  }
  .mi-u-p--r-xl-pc {
    padding-right: var(--spacing-xl) !important;
  }
}
.wp-site-blocks .wp-block-group > * {
  width: auto;
}

.wp-site-blocks .wp-block-button {
  width: auto;
}/*# sourceMappingURL=theme.css.map */