@use "../global" as g;
@use "sass:math";

.l-container {
  width: min( calc( 100vw - ( var(--mi-body-x-gap) * 2 ) ), var(--mi-global-wide-size) );
  margin-inline: auto;
}

.l-container--sm {
  width: min( calc( 100vw - ( var(--mi-body-x-gap) * 2 ) ), var(--mi-global-content-size) );
}
