@use "../global" as g;
@use "sass:math";

.l-container {
  width: 100%;
  max-width: calc( var(--container-wide-width) + ( var(--screen-x-spacing) * 2 ) );
  padding-inline: var(--screen-x-spacing);
  margin-inline: auto;
}

.l-container--sm {
  max-width: calc( var(--container-default-width) + ( var(--screen-x-spacing) * 2 ) );
}
