@use "../global" as g;
@use "sass:math";

.l-container {
    // The width must be specified
    width: calc( 100% - ( var(--screen-x-spacing) * 2 ) );
    max-width: var(--container-wide-width);
    margin-inline: auto;
}

.l-container--sm {
    max-width: var(--container-default-width);
}
