@use "../global" as g;
@use "sass:math";

.#{g.$pr}l-container {
  width: 100%;
  max-width: var(--mi-container-wide-width);
  padding-inline: var(--mi-screen-x-spacing);
  margin-inline: auto;
}

.#{g.$pr}l-container--sm {
  max-width: var(--mi-container-default-width);
}
