@use "../global" as g;
@use "sass:math";

.#{g.$pr}l-container {
  width: 100%;
  max-width: var(--mi-global-wide-size);
  padding-inline: var(--mi-body-x-gap);
  margin-inline: auto;
}

.#{g.$pr}l-container--sm {
  max-width: var(--mi-global-content-size);
}
