@use "../global" as g;
@use "sass:math";

// ------------------------------
// layout > columns
//  - A collection of multiple sections.
//  - When the window size increases, it becomes a multi-column layout.
// ------------------------------

.l-columns {
    @include g.flex( n, wrap, center, stretch );
    gap: var(--spacing-xl) var(--spacing-lg);
    width: 100%;
    max-width: calc( var(--container-wide-width) + ( var(--screen-x-spacing) * 2 ) );
    padding-inline: var(--screen-x-spacing);
    margin-inline: auto;
}

.l-columns > * {
    flex-grow: 1;

    @include g.mq(xga) {
        flex-grow: 0;
        flex-basis: calc( 50% - ( var(--spacing-lg) / 2 ) );
    }

}
