@use "../global" as g;
@use "sass:math";

// ------------------------------
// layout > columns
//  - A collection of multiple sections.
//  - When the window size increases, it becomes a multi-column layout.
// ------------------------------

.l-columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    gap: var(--spacing-xl) var(--spacing-lg);
    width: 100%;
    max-width: calc( var(--container-wide-width) + ( var(--screen-x-spacing) * 2 ) );
    padding-inline: var(--screen-x-spacing);
    margin-inline: auto;

    @include g.mq(xga) {
        grid-template-columns: repeat(2, 1fr);
    }
}
