@use "../global" as g;
@use "sass:math";

.#{g.$pr}l-footer {
  position: relative;
  @include g.flex(column, nowrap, n, stretch);
  border-top: 0.0625rem solid var(--mi-border-default-light-color);
}

.#{g.$pr}l-footer__contents {
  @include g.flex(column, nowrap, n, stretch);
  gap: var(--mi-spacing-md);
}

.#{g.$pr}l-footer__contents > *:first-child {
  padding-top: var(--mi-spacing-md);
}

.#{g.$pr}l-footer__copyright {
  // padding-bottom = .p-stickyMenu height
  padding: var(--mi-spacing-md) var(--mi-screen-x-spacing) calc( var(--mi-spacing-md) + var(--mi-nav-height) );
}

.#{g.$pr}l-footer__copyright__body {
  @include g.flex(column, n, center, center);
  gap: var(--mi-spacing-md);
  margin: 0;
  font-size: var(--mi-fontSize-sm);
  line-height: var(--mi-lineHeight-none);
}
