@use "../global" as g;
@use "sass:math";

.#{g.$pr}l-footer {
  position: relative;
  @include g.flex(column, nowrap, n, stretch);
}

.#{g.$pr}l-footer__contents.#{g.$pr}l-container {
  @include g.flex(column, nowrap, n, stretch);
}

.#{g.$pr}l-footer__contents > * {
  padding-top: var(--spacing-md);
}

.#{g.$pr}l-footer__contents > * + * {
  margin-top: var(--spacing-md);
  border-top: 0.0625rem solid var(--border-default-light-color);
}

.#{g.$pr}l-footer__copyright {
  // padding-bottom = .p-stickyMenu height
  padding: var(--spacing-md) var(--screen-x-spacing) calc( var(--spacing-md) + var(--nav-height) );
}

.#{g.$pr}l-footer__copyright__body {
  @include g.flex(column, n, center, center);
  gap: var(--spacing-md);
  margin: 0;
  font-size: var(--fontSize-sm);
  line-height: var(--lineHeight-none);
}
