@use "../global" as g;
@use "sass:math";

.l-footer {
  position: relative;
  @include g.flex(column, nowrap, n, stretch);
}

.l-footer__contents.l-container {
  @include g.flex(column, nowrap, n, stretch);
  padding-top: var(--spacing-lg);
}

.l-footer__contents::before {
  display: block;
  content: "";
  max-width: var(--container-wide-width);
  margin-inline: calc( var(--screen-x-spacing) * -1 );
  border-bottom: 0.0625rem solid var(--border-default-light-color);
  margin-bottom: var(--spacing-md);
}

.l-footer__contents > *::after {
  display: block;
  content: "";
  max-width: var(--container-wide-width);
  margin-inline: calc( var(--screen-x-spacing) * -1 );
  border-bottom: 0.0625rem solid var(--border-default-light-color);
  margin-top: var(--spacing-md);
}

.l-footer__contents > * + * {
  margin-top: var(--spacing-md);
}

.l-footer__copyright {
  // padding-bottom = .p-stickyMenu height
  padding: var(--spacing-md) var(--screen-x-spacing) var(--spacing-lg);
}

// If screen have sticky navigation, increase the bottom margin.
body:has(.p-stickyMenu) .l-footer__copyright {
  padding-bottom: calc( var(--spacing-md) + var(--nav-height-md) + ( var(--spacing-xs) * 2 ) );
}

.l-footer__copyright__body {
  gap: var(--spacing-md);
  margin: 0;
  text-align: center;
  line-height: var(--lineHeight-none);
}
