@use "../global" as g;
@use "sass:math";

.#{g.$pr}l-footer {
  position: relative;
  @include g.flex(column, nowrap, n, stretch);
  border-top: 0.0625rem solid var(--mi-border-default-light-color);
}

.#{g.$pr}l-footer__contents {
  @include g.flex(column, nowrap, n, center);
  gap: var(--mi-spacing-medium);
}

.#{g.$pr}l-footer__contents > *:first-child {
  padding-top: var(--mi-spacing-medium);
}

.#{g.$pr}l-footer__copyright {
  // padding-bottom = .p-stickyMenu height
  padding: var(--mi-spacing-medium) var(--mi-body-x-gap) calc( var(--mi-spacing-medium) + var(--mi-nav-min-height) );
}

.#{g.$pr}l-footer__copyright__body {
  @include g.flex(column, n, center, center);
  gap: var(--mi-spacing-medium);
  margin: 0;
  font-size: var(--mi-font-size-small);
  line-height: var(--mi-line-height-none);
}
