@use "../global" as g;
@use "sass:math";

.#{g.$pr}l-header {
  position: relative;
  padding-top: var(--mi-spacing-small);
  border-bottom: 0.0625rem solid var(--mi-border-default-light-color);
}

.#{g.$pr}l-header__contents {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat( 2, auto );
  gap: var(--mi-spacing-small) var(--mi-spacing-medium);
}

.#{g.$pr}l-header__contents__siteTitle {
  grid-area: 1 / 1 / 2 / 2;
  height: var(--mi-nav-min-height);
}

// .p-megaMenu
.#{g.$pr}l-header__contents__menu01 {
  grid-area: 2 / 1 / 3 / 3;
}

@include g.mq(xga-max) {
  .#{g.$pr}l-header__contents__menu01 {
    display: none;
  }
}

// .p-horizontalMenu
.#{g.$pr}l-header__contents__menu02 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: flex-end;
  padding-right: calc( var(--mi-drawer-toggle-width) + var(--mi-spacing-medium) );
}

@include g.mq(xga-max) {
  .#{g.$pr}l-header__contents__menu02 {
    display: none;
  }
}
