@use "../global" as g;
@use "sass:math";

.l-header {
  position: relative;
  padding-top: var(--mi-spacing-small);
}

.l-header__contents {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat( 2, auto );
  gap: var(--mi-spacing-small) var(--mi-spacing-medium);
}

.l-header__contents__siteTitle {
  grid-area: 1 / 1 / 2 / 2;
  height: var(--mi-nav-min-height);
}

// .p-megaMenu
.l-header__contents__menu01 {
  grid-area: 2 / 1 / 3 / 3;
}

@include g.mq(xga-max) {
  .l-header__contents__menu01 {
    display: none;
  }
}

// .p-horizontalMenu
.l-header__contents__menu02 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: flex-end;
  padding-right: calc( var(--mi-drawer-toggle-width) + var(--mi-spacing-medium) );
}

@include g.mq(xga-max) {
  .l-header__contents__menu02 {
    display: none;
  }
}
