@use "../global" as g;
@use "sass:math";

// ------------------------------
// project > header
//  - The styles reflected vary depending on the layout and drawer settings.
// See: functions.php > mos_customize_register
// ------------------------------

// ------------------------------
// small
// ------------------------------
.l-header.l-header--small {
  padding-block: var(--spacing-lg);
}

.l-header.l-header--small .p-siteTitle__logo > img,
.l-header.l-header--small .p-siteTitle__logo > svg {
  max-height: 4rem;
}

@include g.mq(default) {

  .l-header.l-header--small .p-siteTitle__logo > img,
  .l-header.l-header--small .p-siteTitle__logo > svg {
    max-width: 30rem;
    max-height: 6rem;
  }

}


// ------------------------------
// medium, large
// ------------------------------
.l-header:not(.l-header--small) {
  @include g.position( fixed, 0, 0, n, 0, 91 );
  background-color: var(--cover-default-color);
  padding-block: var(--spacing-xs);
  backdrop-filter: blur(1rem);
}

.l-header:not(.l-header--small) .l-header__contents.l-container {
  display: grid;
  grid-template-rows: var(--drawer-toggle-size);
  gap: var(--spacing-xs) var(--spacing-sm);
}


// ------------------------------
// medium
// ------------------------------

.l-header.l-header--medium .l-header__contents.l-container {
  grid-template-columns: auto 1fr var(--drawer-toggle-size);

  @include g.mq(wide) {
    column-gap: var(--spacing-md);
  }
}

.l-header.l-header--medium.l-header--drawer-none .l-header__contents.l-container {
  grid-template-columns: auto 1fr;
}

.l-header.l-header--medium.l-header--drawer-mobile .l-header__contents.l-container {
  @include g.mq(xga) {
    grid-template-columns: auto 1fr;
  }
}


// ------------------------------
// large
// ------------------------------

.l-header.l-header--large .l-header__contents.l-container {
  grid-template-columns: auto 1fr auto var(--drawer-toggle-size);

  @include g.mq(wide) {
    grid-template-columns: auto 1fr var(--drawer-toggle-size);
    grid-template-rows: repeat(2, var(--drawer-toggle-size));
  }
}

.l-header.l-header--large.l-header--drawer-none .l-header__contents.l-container {
  grid-template-columns: auto 1fr auto;

  @include g.mq(wide) {
    grid-template-columns: auto 1fr;
  }
}

.l-header.l-header--large.l-header--drawer-mobile .l-header__contents.l-container {
  grid-template-columns: auto 1fr var(--drawer-toggle-size);

  @include g.mq(default) {
    grid-template-columns: auto 1fr auto var(--drawer-toggle-size);
  }

  @include g.mq(xga) {
    grid-template-columns: auto 1fr auto;
  }

  @include g.mq(wide) {
    grid-template-columns: auto 1fr;
  }
}


// ------------------------------
// areas
// ------------------------------

.l-header__siteTitle {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.l-header.l-header--small .l-header__siteTitle {
  align-items: center;
}

.l-header__top {
  grid-column: 2 / 3;
  grid-row: 1 / -1;

  @include g.mq(wide) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

}

// If `.l-header__bottom` is hidden, leaving an unnecessary gap on the right.
// For this reason, I offset this with a negative margin.
.l-header.l-header--large:not(.l-header--drawer-mobile) .l-header__top {
  @include g.mq(default-max) {
    margin-right: calc( var(--spacing-sm) * -1 );
  }
}

.l-header__bottom {
  grid-column: 3 / 4;
  grid-row: 1 / -1;

  @include g.mq(wide) {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
  }
}

.l-header__top,
.l-header__bottom {
  @include g.flex(n, n, flex-end, center);
  column-gap: var(--spacing-md);
}

// bottom: megaMenu
.l-header__menu01 {

  @include g.mq(wide-max) {
    display: none;
  }

}

// top: horizontalMenu(arrowed)
.l-header__menu02 {

  @include g.mq(wide-max) {
    display: none;
  }

}

// top: horizontalMenu(piped)
.l-header__menu03 {
}

// bottom: horizontalMenu(button)
.l-header__menu04 {

  @include g.mq(default-max) {
    display: none;
  }

}

// WordPress Admin bar
.admin-bar .l-header:not(.l-header--small) {
  @include g.mq(default) {
    margin-top: 46px;
  }

  @include g.mq(xga) {
    margin-top: 32px;
  }
}
