@use "../global" as g;
@use "sass:math";

// Top spacing = header height
body:has(.l-header--medium) .l-main > *:first-child {
    padding-top: calc( ( var(--spacing-xs) * 2 ) + var(--drawer-toggle-size) );
}

body:has(.l-header--large) .l-main > *:first-child {
    padding-top: calc( ( var(--spacing-xs) * 2 ) + var(--drawer-toggle-size) );

    @include g.mq(wide) {
        padding-top: calc( ( var(--spacing-xs) * 3 ) + ( var(--drawer-toggle-size) * 2 ) );
    }
}

// In the home and page, the header overlaps the main contents.
body.home.page .l-main > *:first-child {
    padding-top: 0;
}
