@use "_variables-scss.scss" as *;
@use "sass:map";
@use "sass:math";

// ==============================
// SCSS mixins and functions
// ==============================

// ------------------------------
// mq (mediaquery)
// https://zenn.dev/web_tips/articles/095d7419507ca9
//
// ex1. @include g.mq(){};
// ex2. @include g.mq(xga){};
// ex3. @include g.mq(max-default){};
// ------------------------------
@mixin mq( $breakpoint: "default", $breakpoints: $breakpoints ) {
    @media #{map.get( $breakpoints, $breakpoint )} {
        @content;
    }
}


// ------------------------------
// position
//
// ex1. @include g.position(11);
// position:relative;z-index:11;
//
// ex2. @include g.position( sticky, 0, 0, n, n, 11 );
// position:sticky;top:0;left:0;z-index:11;
// ------------------------------
@mixin position( $def: relative, $t: n, $r: n, $b: n, $l: n, $z: n ){
    position: #{$def};
    @if $t != n { top: $t; }
    @if $r != n { right: $r };
    @if $b != n { bottom: $b };
    @if $l != n { left: $l };
    @if $z != n { z-index: $z };
}


// ------------------------------
// flex
//
// ex1. @include g.flex();
// flex-direction:row;flex-wrap:nowrap;justify-content:space-between;align-items:stretch;
//
// ex2. @include g.flex(column, wrap, n, center);
// flex-direction:column;flex-wrap:wrap;justify-content:space-between;align-items:center;
// ------------------------------
@mixin flex( $fxDirection: n, $fxWrap: n, $fxJustify: n, $fxAlign: n ) {
    display: flex;
    @if $fxDirection != n { flex-direction: $fxDirection; } @else { flex-direction: row;}
    @if $fxWrap != n { flex-wrap: $fxWrap; } @else { flex-wrap: nowrap;}
    @if $fxJustify != n { justify-content: $fxJustify; } @else { justify-content: space-between;}
    @if $fxAlign != n { align-items: $fxAlign; } @else { align-items: stretch;}
}


// ------------------------------
// iFlex
//
// ex1. @include g.iFlex();
// flex-direction:row;flex-wrap:nowrap;justify-content:space-between;align-items:stretch;
//
// ex2. @include g.iFlex(column, wrap, n, center);
// flex-direction:column;flex-wrap:wrap;justify-content:space-between;align-items:center;
// ------------------------------
@mixin iFlex( $fxDirection: n, $fxWrap: n, $fxJustify: n, $fxAlign: n ) {
    display: inline-flex;
    @if $fxDirection != n { flex-direction: $fxDirection; } @else { flex-direction: row;}
    @if $fxWrap != n { flex-wrap: $fxWrap; } @else { flex-wrap: nowrap;}
    @if $fxJustify != n { justify-content: $fxJustify; } @else { justify-content: space-between;}
    @if $fxAlign != n { align-items: $fxAlign; } @else { align-items: stretch;}
    vertical-align: middle;
}


// ------------------------------
// arrow( $direction: 'right|left|top|bottom' )
// - Adds an arrow to the link that is proportional to the text size.
// - Supports hover states.
// ------------------------------
@mixin arrow( $direction: 'right' ) {
    @at-root {
        #{&} {
            position: relative;
        }

        #{&}::before {
            position: absolute;
            content: "";
            width: 0.55em;
            height: 0.55em;
            border-top: 0.125em solid var(--ui-accent-color);
            border-right: 0.125em solid var(--ui-accent-color);
            @if $direction == 'left' {
                rotate: -135deg;
            } @else if $direction == 'top' {
                rotate: -45deg;
            } @else if $direction == 'bottom' {
                rotate: 135deg;
            } @else {
                rotate: 45deg;
            }
        }
    }
}

@mixin arrow-current( $direction: 'right' ) {
    @at-root {
        #{&}::before {
            opacity: 0.3;
            border-color: currentColor;
        }
    }
}


// ------------------------------
// sr-only
// Generate invisible styles that are recognizable by screen readers.
//
// ex. @include g.sr-only();
// ------------------------------
@mixin sr-only(){
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
