@use "_variables-scss.scss" as *;
@use "_mixin" as *;
@use "sass:math";

// ==============================
// CSS Vars
// ==============================

:root {
  // ------------------------------
  // Variables defined in theme.json
  // ------------------------------
  // --wp--preset--color--default-dark
  // --wp--preset--color--default
  // --wp--preset--color--default-light
  // --wp--preset--color--default-lighter
  // --wp--preset--color--default-fade
  // --wp--preset--color--primary-dark
  // --wp--preset--color--primary
  // --wp--preset--color--primary-light
  // --wp--preset--color--primary-lighter
  // --wp--preset--color--primary-fade
  // --wp--preset--color--secondary-dark
  // --wp--preset--color--secondary
  // --wp--preset--color--secondary-light
  // --wp--preset--color--secondary-lighter
  // --wp--preset--color--secondary-fade
  // --wp--preset--color--tertiary-dark
  // --wp--preset--color--tertiary
  // --wp--preset--color--tertiary-light
  // --wp--preset--color--tertiary-lighter
  // --wp--preset--color--tertiary-fade
  // --wp--preset--color--tertiary-dark
  // --wp--preset--color--tertiary
  // --wp--preset--color--tertiary-light
  // --wp--preset--color--tertiary-lighter
  // --wp--preset--color--tertiary-fade
  // --wp--preset--color--important-dark
  // --wp--preset--color--important
  // --wp--preset--color--important-light
  // --wp--preset--color--important-lighter
  // --wp--preset--color--important-fade
  // --wp--preset--color--white
  // --wp--preset--color--black
  // --wp--preset--font-size--2-x-small
  // --wp--preset--font-size--x-small
  // --wp--preset--font-size--small
  // --wp--preset--font-size--medium
  // --wp--preset--font-size--large
  // --wp--preset--font-size--x-large
  // --wp--preset--font-size--2-x-large
  // --wp--preset--font-size--3-x-large
  // --wp--preset--font-size--4-x-large
  // --wp--preset--font-size--5-x-large
  // --wp--preset--spacing--x-small
  // --wp--preset--spacing--small
  // --wp--preset--spacing--medium
  // --wp--preset--spacing--large
  // --wp--preset--spacing--x-large
  // --wp--preset--spacing--2-x-large
  // --wp--style--global--content-size
  // --wp--style--global--wide-size
  // --wp--preset--shadow--sm
  // --wp--preset--shadow--sm-darken
  // --wp--preset--shadow--md
  // --wp--preset--shadow--md-darken
  // --wp--preset--shadow--lg
  // --wp--preset--shadow--lg-darken

  // ------------------------------
  // Redefining variables
  // ------------------------------

  // color
  --color-default-dark: var(--wp--preset--color--default-dark);
  --color-default: var(--wp--preset--color--default);
  --color-default-light: var(--wp--preset--color--default-light);
  --color-default-lighter: var(--wp--preset--color--default-lighter);
  --color-default-fade: var(--wp--preset--color--default-fade);
  --color-primary-dark: var(--wp--preset--color--primary-dark);
  --color-primary: var(--wp--preset--color--primary);
  --color-primary-light: var(--wp--preset--color--primary-light);
  --color-primary-lighter: var(--wp--preset--color--primary-lighter);
  --color-primary-fade: var(--wp--preset--color--primary-fade);
  --color-secondary-dark: var(--wp--preset--color--secondary-dark);
  --color-secondary: var(--wp--preset--color--secondary);
  --color-secondary-light: var(--wp--preset--color--secondary-light);
  --color-secondary-lighter: var(--wp--preset--color--secondary-lighter);
  --color-secondary-fade: var(--wp--preset--color--secondary-fade);
  --color-tertiary-dark: var(--wp--preset--color--tertiary-dark);
  --color-tertiary: var(--wp--preset--color--tertiary);
  --color-tertiary-light: var(--wp--preset--color--tertiary-light);
  --color-tertiary-lighter: var(--wp--preset--color--tertiary-lighter);
  --color-tertiary-fade: var(--wp--preset--color--tertiary-fade);
  --color-tertiary-dark: var(--wp--preset--color--tertiary-dark);
  --color-tertiary: var(--wp--preset--color--tertiary);
  --color-tertiary-light: var(--wp--preset--color--tertiary-light);
  --color-tertiary-lighter: var(--wp--preset--color--tertiary-lighter);
  --color-tertiary-fade: var(--wp--preset--color--tertiary-fade);
  --color-important-dark: var(--wp--preset--color--important-dark);
  --color-important: var(--wp--preset--color--important);
  --color-important-light: var(--wp--preset--color--important-light);
  --color-important-lighter: var(--wp--preset--color--important-lighter);
  --color-important-fade: var(--wp--preset--color--important-fade);
  --color-white: var(--wp--preset--color--white);
  --color-black: var(--wp--preset--color--black);

  // font size
  --fontSize-xs: var(--wp--preset--font-size--x-small);
  --fontSize-sm: var(--wp--preset--font-size--small);
  --fontSize-md: var(--wp--preset--font-size--medium);
  --fontSize-lg: var(--wp--preset--font-size--large);
  --fontSize-xl: var(--wp--preset--font-size--x-large);
  --fontSize-2xl: var(--wp--preset--font-size--2-x-large);
  --fontSize-3xl: var(--wp--preset--font-size--3-x-large);
  --fontSize-4xl: var(--wp--preset--font-size--4-x-large);
  --fontSize-5xl: var(--wp--preset--font-size--5-x-large);

  // spacing
  --spacing-xs: var(--wp--preset--spacing--x-small);
  --spacing-sm: var(--wp--preset--spacing--small);
  --spacing-md: var(--wp--preset--spacing--medium);
  --spacing-lg: var(--wp--preset--spacing--large);
  --spacing-xl: var(--wp--preset--spacing--x-large);
  --spacing-2xl: var(--wp--preset--spacing--2-x-large);

  // container width
  --container-default-width: var(--wp--style--global--content-size);
  --container-wide-width: var(--wp--style--global--wide-size);

  // shadow
  --shadow--sm: var(--wp--preset--shadow--sm);
  --shadow--sm-darken: var(--wp--preset--shadow--sm-darken);
  --shadow--md: var(--wp--preset--shadow--md);
  --shadow--md-darken: var(--wp--preset--shadow--md-darken);
  --shadow--lg: var(--wp--preset--shadow--lg);
  --shadow--lg-darken: var(--wp--preset--shadow--lg-darken);

  // ------------------------------
  // Variables not related to WordPress
  // ------------------------------
  --cover-default-color: rgb( 255 255 255 / 0.8 );
  --cover-inverse-color: rgb( 0 0 0 / 0.5 );
  --border-default-color: var(--color-default-lighter);
  --border-default-light-color: rgb( 0 0 0 / 0.2 );
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;

  --fontFamily-default: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans JP", sans-serif;
  --fontWeight-normal: 400;
  --fontWeight-bold: 600;

  --lineHeight-none: 1;
  --lineHeight-xs: 1.25;
  --lineHeight-sm: 1.5;
  --lineHeight-md: 1.75;
  --lineHeight-lg: 2;

  --body-color: var(--color-default-dark);
  --body-bg: var(--color-white);
  --body-letterSpacing: 0.02em;

  --link-default-color: var(--color-primary);
  --link-hover-color: var(--color-primary);

  --ui-default-color: var(--color-default-dark);
  --ui-inverse-color: var(--color-white);
  --ui-accent-color: var(--color-primary);

  --screen-x-spacing: 1rem; // not responsive spacing

  --nav-height-md: 2.75rem;
  --nav-height-sm: 2rem;
  --drawer-toggle-size: var(--nav-height-md);

  --headline-hover-bg: rgba(0 0 0 / 0.05);

  --card-bg: var(--body-bg);

  --media-bg: var(--body-bg);

  --transition-fast: all 0.25s;
  --transition-slow: all 0.5s;
  --transition-cubic: all 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1);
}
