@use "_variables-scss.scss" as *;
@use "_mixin" as *;
@use "sass:math";

// ==============================
// CSS Vars
// ==============================

:root {
  // ------------------------------
  // Variables defined in theme.json
  // ------------------------------
  // --wp--preset--color--mi-default-dark
  // --wp--preset--color--mi-default
  // --wp--preset--color--mi-default-light
  // --wp--preset--color--mi-default-lighter
  // --wp--preset--color--mi-default-fade
  // --wp--preset--color--mi-primary-dark
  // --wp--preset--color--mi-primary
  // --wp--preset--color--mi-primary-light
  // --wp--preset--color--mi-primary-lighter
  // --wp--preset--color--mi-primary-fade
  // --wp--preset--color--mi-secondary-dark
  // --wp--preset--color--mi-secondary
  // --wp--preset--color--mi-secondary-light
  // --wp--preset--color--mi-secondary-lighter
  // --wp--preset--color--mi-secondary-fade
  // --wp--preset--color--mi-tertiary-dark
  // --wp--preset--color--mi-tertiary
  // --wp--preset--color--mi-tertiary-light
  // --wp--preset--color--mi-tertiary-lighter
  // --wp--preset--color--mi-tertiary-fade
  // --wp--preset--color--mi-warning-dark
  // --wp--preset--color--mi-warning
  // --wp--preset--color--mi-warning-light
  // --wp--preset--color--mi-warning-lighter
  // --wp--preset--color--mi-warning-fade
  // --wp--preset--color--mi-danger-dark
  // --wp--preset--color--mi-danger
  // --wp--preset--color--mi-danger-light
  // --wp--preset--color--mi-danger-lighter
  // --wp--preset--color--mi-danger-fade
  // --wp--preset--color--mi-white
  // --wp--preset--color--mi-black
  // --wp--preset--font-size--2-x-small
  // --wp--preset--font-size--x-small
  // --wp--preset--font-size--small
  // --wp--preset--font-size--medium
  // --wp--preset--font-size--large
  // --wp--preset--font-size--x-large
  // --wp--preset--font-size--2-x-large
  // --wp--preset--font-size--3-x-large
  // --wp--preset--font-size--4-x-large
  // --wp--preset--spacing--x-small
  // --wp--preset--spacing--small
  // --wp--preset--spacing--medium
  // --wp--preset--spacing--large
  // --wp--preset--spacing--x-large
  // --wp--style--global--content-size
  // --wp--style--global--wide-size
  // --wp--preset--shadow--sm
  // --wp--preset--shadow--sm-darken
  // --wp--preset--shadow--md
  // --wp--preset--shadow--md-darken
  // --wp--preset--shadow--lg
  // --wp--preset--shadow--lg-darken

  // ------------------------------
  // Redefining variables
  // ------------------------------

  // color
  --color-default-dark: var(--wp--preset--color--mi-default-dark);
  --color-default: var(--wp--preset--color--mi-default);
  --color-default-light: var(--wp--preset--color--mi-default-light);
  --color-default-lighter: var(--wp--preset--color--mi-default-lighter);
  --color-default-fade: var(--wp--preset--color--mi-default-fade);
  --color-primary-dark: var(--wp--preset--color--mi-primary-dark);
  --color-primary: var(--wp--preset--color--mi-primary);
  --color-primary-light: var(--wp--preset--color--mi-primary-light);
  --color-primary-lighter: var(--wp--preset--color--mi-primary-lighter);
  --color-primary-fade: var(--wp--preset--color--mi-primary-fade);
  --color-secondary-dark: var(--wp--preset--color--mi-secondary-dark);
  --color-secondary: var(--wp--preset--color--mi-secondary);
  --color-secondary-light: var(--wp--preset--color--mi-secondary-light);
  --color-secondary-lighter: var(--wp--preset--color--mi-secondary-lighter);
  --color-secondary-fade: var(--wp--preset--color--mi-secondary-fade);
  --color-tertiary-dark: var(--wp--preset--color--mi-tertiary-dark);
  --color-tertiary: var(--wp--preset--color--mi-tertiary);
  --color-tertiary-light: var(--wp--preset--color--mi-tertiary-light);
  --color-tertiary-lighter: var(--wp--preset--color--mi-tertiary-lighter);
  --color-tertiary-fade: var(--wp--preset--color--mi-tertiary-fade);
  --color-warning-dark: var(--wp--preset--color--mi-warning-dark);
  --color-warning: var(--wp--preset--color--mi-warning);
  --color-warning-light: var(--wp--preset--color--mi-warning-light);
  --color-warning-lighter: var(--wp--preset--color--mi-warning-lighter);
  --color-warning-fade: var(--wp--preset--color--mi-warning-fade);
  --color-danger-dark: var(--wp--preset--color--mi-danger-dark);
  --color-danger: var(--wp--preset--color--mi-danger);
  --color-danger-light: var(--wp--preset--color--mi-danger-light);
  --color-danger-lighter: var(--wp--preset--color--mi-danger-lighter);
  --color-danger-fade: var(--wp--preset--color--mi-danger-fade);
  --color-white: var(--wp--preset--color--mi-white);
  --color-black: var(--wp--preset--color--mi-black);

  // font size
  --fontSize-2xs: var(--wp--preset--font-size--2-x-small);
  --fontSize-xs: var(--wp--preset--font-size--x-small);
  --fontSize-sm: var(--wp--preset--font-size--small);
  --fontSize-md: var(--wp--preset--font-size--medium);
  --fontSize-lg: var(--wp--preset--font-size--large);
  --fontSize-xl: var(--wp--preset--font-size--x-large);
  --fontSize-2xl: var(--wp--preset--font-size--2-x-large);
  --fontSize-3xl: var(--wp--preset--font-size--3-x-large);
  --fontSize-4xl: var(--wp--preset--font-size--4-x-large);

  // spacing
  --spacing-xs: var(--wp--preset--spacing--x-small);
  --spacing-sm: var(--wp--preset--spacing--small);
  --spacing-md: var(--wp--preset--spacing--medium);
  --spacing-lg: var(--wp--preset--spacing--large);
  --spacing-xl: var(--wp--preset--spacing--x-large);

  // container width
  --container-default-width: var(--wp--style--global--content-size);
  --container-wide-width: var(--wp--style--global--wide-size);

  // shadow
  --shadow--sm: var(--wp--preset--shadow--sm);
  --shadow--sm-darken: var(--wp--preset--shadow--sm-darken);
  --shadow--md: var(--wp--preset--shadow--md);
  --shadow--md-darken: var(--wp--preset--shadow--md-darken);
  --shadow--lg: var(--wp--preset--shadow--lg);
  --shadow--lg-darken: var(--wp--preset--shadow--lg-darken);

  // ------------------------------
  // Variables not related to WordPress
  // ------------------------------
  --cover-default-color: rgb( 255 255 255 / 0.7 );
  --cover-inverse-color: rgb( 0 0 0 / 0.7 );
  --border-default-color: var(--color-default-lighter);
  --border-default-light-color: rgb( 0 0 0 / 0.2 );
  --border-inverse-color: rgb( 255 255 255 / 0.4 );
  --border-inverse-light-color: rgb( 255 255 255 / 0.2 );
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;

  --fontFamily-default: "Noto Sans JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", "Meiryo", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

  --lineHeight-none: 1;
  --lineHeight-xs: 1.25;
  --lineHeight-sm: 1.5;
  --lineHeight-md: 1.75;
  --lineHeight-lg: 2;

  --body-color: var(--color-default-dark);
  --body-bg: var(--color-white);
  --body-letterSpacing: 0.02em;

  --link-default-color: var(--color-primary-dark);
  --link-hover-color: var(--color-primary-dark);

  --ui-default-color: var(--color-default-dark);
  --ui-inverse-color: var(--color-white);
  --ui-default-bg: transparent;
  --ui-inverse-bg: transparent;
  --ui-default-accent-color: var(--color-primary);
  --ui-inverse-accent-color: var(--color-white);
  --ui-default-hover-bg: transparent;
  --ui-inverse-hover-bg: transparent;

  --screen-x-spacing: var(--wp--preset--font-size--medium);

  --drawer-toggle-width: 2.75rem;

  --nav-height: 2.75rem;
  --nav-default-transition: all 0.5s;
  --nav-cubic-transition: all 0.5s 0s cubic-bezier(0.65, 0, 0.35, 1);
}
