@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > buttonMenu
//  - Horizontal menu in the shape of a button.
//  - No hierarchical structure is assumed.
// ------------------------------

.p-buttonMenu__nav.c-nav {
  justify-content: center;
  column-gap: var(--spacing-xs);
}

.p-buttonMenu a {
  @include g.flex( n, n, center, center );
  min-width: 8em;
  min-height: 2.5em;
  background-color: var(--ui-accent-color);
  border: 0.125rem solid var(--ui-accent-color);
  border-radius: 99em;
  color: var(--ui-inverse-color);
  font-size: var(--fontSize-sm);
  font-weight: var(--fontWeight-bold);
  line-height: var(--lineHeight-none);
  transition: var(--transition-fast);
  text-align: center;
  text-decoration: none;
}

.p-buttonMenu a:hover,
.p-buttonMenu a:focus {
  color: var(--ui-default-color);
  background-color: var(--ui-inverse-color);
  text-decoration: none;
}

.p-buttonMenu a:focus {
    outline: none;
}
