@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > cardList
//  - Repeatedly display .p-card.
// ------------------------------

.p-cardList {
  @include g.flex(column, n, flex-start, stretch);
  gap: var(--spacing-md);
  container-type: inline-size;

  @include g.mq(default) {
    @include g.flex( n, wrap, n, n );
  }

}

.p-sectionHeader + .p-cardList {
  margin-top: var(--spacing-md);
}

.p-cardList > * {

  @include g.mq(default-max) {
    max-width: ( math.div( 480, 16 ) * 1rem );
    margin-inline: auto;
  }

  @include g.mq(default) {
    flex-grow: 0;
    width: calc( 33.3333% - ( var(--spacing-md) * 2 / 3 ) );
  }

}

.p-cardList .p-card__inner {
  height: 100%;
}

@container ( width <= 40rem ) {
  .p-cardList > * {
    flex-grow: 1;
    width: 100%;
  }
}
