@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > card
//  - Image on the top and content on the bottom.
// ------------------------------

// .#{g.$pr}p-card {
// }

.#{g.$pr}p-card__inner {
  @include g.flex( column, n, flex-start, stretch );
  gap: var(--spacing-xs);
}

a.#{g.$pr}p-card__inner {
    color: currentColor;
    text-decoration: none;
}

a.#{g.$pr}p-card__inner .#{g.$pr}p-card__title {
  width: 100%;
  text-decoration: underline;
}

// .#{g.$pr}p-card__image {
// }

.#{g.$pr}p-card__image img {
  transition: var(--nav-default-transition);
}

.#{g.$pr}p-card__contents {
  @include g.flex( column, n, flex-start, stretch );
  gap: var(--spacing-xs);
}

.#{g.$pr}p-card__contents > * {
  margin: 0;
}

.#{g.$pr}p-card__meta {
  @include g.flex( n, wrap, flex-start, center );
  gap: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--fontSize-sm);
}

.#{g.$pr}p-card__meta > * {
  flex-grow: 0;
}

@include g.mq(hover) {

  a.#{g.$pr}p-card__inner:hover .#{g.$pr}p-card__image img {
    opacity: 0.8;
    transform: scale( 1.1 );
  }

}

// .#{g.$pr}p-card__title {
// }

// .#{g.$pr}p-card__date {
// }

// .#{g.$pr}p-card__summary {
// }
