@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > cardList
//  - Repeatedly display .p-card.
//  - The breakpoint at which it becomes two columns is different from the others.
// ------------------------------

.p-cardList {
    container-type: inline-size;
}

.p-sectionHeader + .p-cardList {
    margin-top: var(--spacing-md);
}

.p-cardList__inner {
    @include g.flex( n, wrap, flex-start, n );
    gap: var(--spacing-md) var(--spacing-sm);
}

.p-cardList__inner > * {
    flex-grow: 1;
    max-width: ( math.div( 480, 16 ) * 1rem );
    margin-inline: auto;
}

.p-cardList .p-card__inner {
    height: 100%;
}

@container ( width >= 27rem ) {
    .p-cardList__inner > * {
        flex-grow: 0;
        max-width: calc( 50% - ( var(--spacing-sm) / 2 ) );
        margin-inline: 0;
    }
}

@container ( width >= 40rem ) {
    .p-cardList__inner {
        column-gap: var(--spacing-md);
    }

    .p-cardList__inner > * {
        max-width: calc( 33.33% - ( var(--spacing-md) * 2 / 3 ) );
    }
}
