@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > card
//  - Image on the top and content on the bottom.
// ------------------------------

.#{g.$pr}p-card {
  background-color: var(--body-bg);
  box-shadow: var(--shadow--sm);

  @include g.mq(default) {
    box-shadow: none;
    background-color: transparent;
  }

}

.#{g.$pr}p-card__inner {
  display: block;
}

a.#{g.$pr}p-card__inner {
    color: currentColor;
}

@include g.mq(hover) {

  .#{g.$pr}p-card:has(a.#{g.$pr}p-card__inner:hover) {
    background-color: var(--card-bg);
    box-shadow: var(--shadow--sm);
    transition: var(--transition-slow);
  }

  a.#{g.$pr}p-card__inner:hover {
    text-decoration: none;
  }

  a.#{g.$pr}p-card__inner:hover .#{g.$pr}p-card__title,
  a.#{g.$pr}p-card__title:hover {
    text-decoration: underline;
  }

}

a.#{g.$pr}p-card__inner .#{g.$pr}p-card__title {
  width: 100%;
}

// .#{g.$pr}p-card__image {
// }

.#{g.$pr}p-card__image img {
  transition: var(--transition-slow);
}

.#{g.$pr}p-card__contents {
  @include g.flex( column, n, flex-start, stretch );
  gap: var(--spacing-xs);
  padding: var(--spacing-sm) var(--spacing-xs);
}

.#{g.$pr}p-card__contents > * {
  margin: 0;
}

.#{g.$pr}p-card__meta {
  @include g.flex( n, wrap, flex-start, center );
  gap: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--fontSize-sm);
}

.#{g.$pr}p-card__meta > * {
  flex-grow: 0;
}

@include g.mq(hover) {

  a.#{g.$pr}p-card__inner:hover .#{g.$pr}p-card__image img,
  a.#{g.$pr}p-card__image:hover img {
    transform: scale( 1.1 );
  }

}

// .#{g.$pr}p-card__title {
// }

// If the content width is narrow, the font size will be reduced.
.#{g.$pr}p-card__contents {
  container-type: inline-size;
}

@container ( width <= 18rem ) {

  .#{g.$pr}p-card__contents .#{g.$pr}c-date,
  .#{g.$pr}p-card__contents .#{g.$pr}c-summary {
    font-size: var(--fontSize-xs);
  }

  .#{g.$pr}p-card__contents .#{g.$pr}p-card__title.#{g.$pr}c-title {
    font-size: var(--fontSize-sm);
  }

}
