@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > drawerToggle
//  - It always sticks to the top and right sides of the header.
//  - It is not intended to contain any child elements other than buttons.
// ------------------------------

.p-drawerToggle {
    @include g.position( fixed, 0, 0, n, 0, 112 );
}

.p-drawerToggle.p-drawerToggle--mobile {
    @include g.mq(xga) {
        display: none;
    }
}

.p-drawerToggle__contents.l-container {
    position: relative;
}

.p-drawerToggle__button {
    @include g.position( absolute, var(--spacing-xs), var(--screen-x-spacing), n, n, 11 ); // top: padding-top of header
}
