@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > drawerToggle
//  - It always sticks to the top and right sides of the header.
//  - It is not intended to contain any child elements other than buttons.
// ------------------------------

.#{g.$pr}p-drawerToggle {
  @include g.position( fixed, 0, 0, n, 0, 112 );
}

.#{g.$pr}p-drawerToggle__contents.#{g.$pr}l-container {
  position: relative;
}

.#{g.$pr}p-drawerToggle__button {
  @include g.position( absolute, var(--spacing-xs), var(--screen-x-spacing), n, n, 11 ); // top: padding-top of header
}

// WordPress Admin bar
.admin-bar .#{g.$pr}p-drawerToggle {
  margin-top: 46px;
}

@include g.mq(default) {

  // WordPress Admin bar
  .admin-bar .#{g.$pr}p-drawerToggle {
    margin-top: 32px;
  }

}
