@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > drawer
//  - It always covers the entire visible area of ​​the window.
//  - The menu's expansion changes depending on the aria-hidden attribute value.
// ------------------------------

.p-drawer {
  @include g.position( fixed, 0, n, n, 0, 101 );
  width: 100%;
  height: 0;
}

.p-drawer::after {
  content: "";
  @include g.position( fixed, 0, n, n, 0, 102 );
  background-color: var(--mi-body-bg);
  width: 100dvw;
  height: 100dvh;
  transform: scaleY(0);
  transform-origin: top center;
}

.p-drawer__contents {
  overflow: hidden;
  @include g.position( relative, n, n, n, n, 103 );
  height: 0;
  background-color: var(--mi-body-bg);
  opacity: 0;
  transform: translateY(-1rem);
  transform-origin: center center;
}

.p-drawer__contents__inner {
  @include g.flex(column, n, n, flex-start);
  gap: var(--mi-spacing-medium);
  padding-top: calc( var(--mi-drawer-toggle-width) + var(--mi-spacing-small) );
  padding-bottom: calc( var(--mi-drawer-toggle-width) + var(--mi-spacing-small) );
}


// ------------------------------
// drawer: opening
// ------------------------------

.p-drawer.-is-opening {
  height: auto;
}

.p-drawer.-is-opening::after {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.5s 0s ease-out;
}

.p-drawer.-is-opening .p-drawer__contents {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s 0.3s ease-out;
}


// ------------------------------
// drawer: open
// need `:not(.-is-closing)`
// ------------------------------

// Disable scrolling when the drawer menu is expanded
body:has(.p-drawer[aria-hidden="false"]) {
  overflow: hidden;
  height: 100dvh;
}

.p-drawer[aria-hidden="false"]:not(.-is-closing) {
  height: auto;
}

.p-drawer[aria-hidden="false"]:not(.-is-closing)::after {
  opacity: 1;
  transform: scaleY(1);
}

.p-drawer[aria-hidden="false"]:not(.-is-closing) .p-drawer__contents {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100dvh;
  opacity: 1;
  transform: translateY(0);
}

// ------------------------------
// drawer: closing
// ------------------------------

.p-drawer.-is-closing::after {
  transform: scaleY(0);
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.p-drawer.-is-closing .p-drawer__contents {
  overflow: hidden;
  opacity: 0;
  height: auto;
  transform: translateY(-1rem);
  transition-duration: 0.3s;
  transition-delay: 0s;
}
