@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > drawer
//  - It is normally hidden and covers the entire window when the menu is expanded.
//  - It's compatible with all devices and can also be operated with a keyboard.
//  - Opening and closing the menu, ARIA attributes, and disabling operations within the menu are controlled by JavaScript.
// See: assets/js/theme.js
// ------------------------------

.#{g.$pr}p-drawer {
  @include g.position( fixed, 0, n, n, 0, 101 );
  width: 100%;
  height: 0;
}

.#{g.$pr}p-drawer::after {
  content: "";
  @include g.position( fixed, 0, n, n, 0, 102 );
  background-color: var(--body-bg);
  width: 100dvw;
  height: 100dvh;
  transform: scaleY(0);
  transform-origin: top center;
}

.#{g.$pr}p-drawer__contents {
  overflow: hidden;
  @include g.position( relative, n, n, n, n, 103 );
  height: 0;
  background-color: var(--body-bg);
  opacity: 0;
  transform: translateY(-1rem);
  transform-origin: center center;
}

.#{g.$pr}p-drawer__contents__inner {
  @include g.flex(column, n, n, flex-start);
  gap: var(--spacing-md);
  padding-top: calc( var(--drawer-toggle-size) + var(--spacing-sm) );
  padding-bottom: var(--spacing-xl);
}


// ------------------------------
// drawer: opening
// ------------------------------

.#{g.$pr}p-drawer.-is-opening {
  height: auto;
}

.#{g.$pr}p-drawer.-is-opening::after {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.5s 0s ease-out;
}

.#{g.$pr}p-drawer.-is-opening .#{g.$pr}p-drawer__contents {
  overflow: hidden;
  height: auto;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s 0.3s ease-out;
}


// ------------------------------
// drawer: open
// ------------------------------

// Disable scrolling when the drawer menu is expanded
body:has(.#{g.$pr}p-drawer[aria-hidden="false"]),
body:has(.#{g.$pr}p-drawer.-is-opening),
body:has(.#{g.$pr}p-drawer.-is-closing) {
  overflow: hidden;
  height: 100dvh;
}

// need `:not(.-is-closing)`
.#{g.$pr}p-drawer[aria-hidden="false"]:not(.-is-closing) {
  height: auto;
}

.#{g.$pr}p-drawer[aria-hidden="false"]:not(.-is-closing)::after {
  opacity: 1;
  transform: scaleY(1);
}

.#{g.$pr}p-drawer[aria-hidden="false"]:not(.-is-closing) .#{g.$pr}p-drawer__contents {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100dvh;
  opacity: 1;
  transform: translateY(0);
}

// ------------------------------
// drawer: closing
// ------------------------------

.#{g.$pr}p-drawer.-is-closing::after {
  transform: scaleY(0);
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.#{g.$pr}p-drawer.-is-closing .#{g.$pr}p-drawer__contents {
  overflow: hidden;
  opacity: 0;
  height: auto;
  transform: translateY(-1rem);
  transition-duration: 0.3s;
  transition-delay: 0s;
}
