@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > drawer
//  - It is normally hidden and covers the entire window when the menu is expanded.
//  - It's compatible with all devices and can also be operated with a keyboard.
//  - Opening and closing the menu, ARIA attributes, and disabling operations within the menu are controlled by JavaScript.
// See: assets/js/theme.js
// ------------------------------

.#{g.$pr}p-drawer {
  @include g.position( fixed, 0, n, n, 0, 101 );
  width: 100%;
  height: 0;
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--mobile {
  @include g.mq(xga) {
    display: none;
  }
}

.#{g.$pr}p-drawer::before {
  content: "";
  @include g.position( fixed, 0, 0, 0, n, 103 );
  background-color: var(--body-bg);
  box-shadow: var(--shadow--lg-darken);
}

.#{g.$pr}p-drawer:not(.#{g.$pr}p-drawer--size-wide)::before {
  width: 30rem;
  max-width: 80dvw;
  transform: scaleX(0);
  transform-origin: top right;

  @include g.mq(default) {
    width: 45dvw;
  }
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide::before {
  left: 0;
  transform: scaleY(0);
  transform-origin: top center;
}

.#{g.$pr}p-drawer::after {
  content: "";
  @include g.position( fixed, 0, 0, n, 0, 102 );
  background-color: var(--cover-inverse-color);
  width: 100dvw;
  opacity: 0;
}

.#{g.$pr}p-drawer__contents {
  overflow-x: hidden;
  overflow-y: auto;
  @include g.position( relative, n, n, n, n, 103 );
  height: 0;
  background-color: var(--body-bg);
  opacity: 0;
  transform: translateX(1rem);
  transform-origin: center center;
}

.#{g.$pr}p-drawer:not(.#{g.$pr}p-drawer--size-wide) .#{g.$pr}p-drawer__contents {
  width: 30rem;
  max-width: 80dvw;
  margin-left: auto;
  margin-right: 0;

  @include g.mq(default) {
    width: 45dvw;
  }

  @include g.mq(wide) {
    padding-left: var(--spacing-md);
  }
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide .#{g.$pr}p-drawer__contents {
  transform: translateY(-1rem);
}

.#{g.$pr}p-drawer__contents__inner {
  @include g.flex(column, n, n, flex-start);
  gap: var(--spacing-md);
  padding-top: calc( var(--drawer-toggle-size) + var(--spacing-sm) );
  padding-bottom: var(--spacing-xl);
}


// ------------------------------
// drawer: opening
// ------------------------------

.#{g.$pr}p-drawer.-is-opening {
  height: auto;
}

.#{g.$pr}p-drawer.-is-opening::before {
  opacity: 1;
  transform: scaleX(1);
  transition: transform 0.5s 0s ease-out;
}

.#{g.$pr}p-drawer.-is-opening::after {
  bottom: 0;
  opacity: 1;
  transition: opacity 0.25s 0s ease-out;
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide.-is-opening::before {
  transform: scaleY(1);
}

.#{g.$pr}p-drawer.-is-opening .#{g.$pr}p-drawer__contents {
  overflow: hidden;
  height: auto;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s 0.3s ease-out;
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide.-is-opening .#{g.$pr}p-drawer__contents {
  transform: translateY(0);
}


// ------------------------------
// drawer: open
// ------------------------------

// Disable scrolling when the drawer menu is expanded
body:has(.#{g.$pr}p-drawer[aria-hidden="false"]),
body:has(.#{g.$pr}p-drawer.-is-opening),
body:has(.#{g.$pr}p-drawer.-is-closing) {
  overflow: hidden;
  height: 100dvh;
}

// need `:not(.-is-closing)`
.#{g.$pr}p-drawer[aria-hidden="false"]:not(.-is-closing) {
  height: auto;
}

.#{g.$pr}p-drawer[aria-hidden="false"]:not(.-is-closing)::before {
  opacity: 1;
  transform: scaleX(1);
}

.#{g.$pr}p-drawer[aria-hidden="false"]:not(.-is-closing)::after {
  opacity: 1;
  bottom: 0;
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide[aria-hidden="false"]:not(.-is-closing)::before {
  transform: scaleY(1);
}

.#{g.$pr}p-drawer[aria-hidden="false"]:not(.-is-closing) .#{g.$pr}p-drawer__contents {
  height: 100dvh;
  opacity: 1;
  transform: translateX(0);
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide[aria-hidden="false"]:not(.-is-closing) .#{g.$pr}p-drawer__contents {
  transform: translateY(0);
}

// ------------------------------
// drawer: closing
// ------------------------------

.#{g.$pr}p-drawer.-is-closing::before {
  transform: scaleX(0);
  transition-duration: 0.5s;
  transition-delay: 0.1s;
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide.-is-closing::before {
  transform: scaleY(0);
}

.#{g.$pr}p-drawer.-is-closing::after {
  bottom: 0;
  opacity: 0;
  transition: opacity 0.25s 0.25s ease-out;
}

.#{g.$pr}p-drawer.-is-closing .#{g.$pr}p-drawer__contents {
  opacity: 0;
  height: auto;
  transform: translateX(1rem);
  transition-duration: 0.3s;
  transition-delay: 0s;
}

.#{g.$pr}p-drawer.#{g.$pr}p-drawer--size-wide.-is-closing .#{g.$pr}p-drawer__contents {
  transform: translateY(-1rem);
}
