@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > error
//  - 404 page styles.
// ------------------------------

.p-error__title,
.p-error__contents {
    word-wrap: break-word;
}

.p-error {
    padding-block: var(--spacing-lg);
}

.p-error > * + * {
    margin-top: var(--spacing-md);
}

// .p-error__header {
// }

// .p-error__title {
// }

// .p-error__footer {
// }
