@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > error
//  - 404 page styles.
// ------------------------------

.#{g.$pr}p-error__title,
.#{g.$pr}p-error__contents {
    word-wrap: break-word;
}

.#{g.$pr}p-error {
    padding-block: var(--spacing-lg);
}

.#{g.$pr}p-error > * + * {
    margin-top: var(--spacing-md);
}

// .#{g.$pr}p-error__header {
// }

// .#{g.$pr}p-error__title {
// }

// .#{g.$pr}p-error__footer {
// }
