@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > horizontalMenu
//  - Small horizontally aligned menu.
//  - No hierarchical structure is assumed.
//  - Clickable area fits to text size.
// ------------------------------

.#{g.$pr}p-horizontalMenu__nav.#{g.$pr}c-nav {
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: var(--spacing-md);
  font-size: var(--fontSize-sm);

  @include g.mq(default) {
    justify-content: center;
  }

}

.#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) .#{g.$pr}c-nav__item + .#{g.$pr}c-nav__item,
.#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) .menu-item + .menu-item {
  position: relative;
}

.#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) .#{g.$pr}c-nav__item + .#{g.$pr}c-nav__item::after,
.#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) .menu-item + .menu-item::after {
  @include g.position( absolute, #{calc( 50% - 0.5em )}, n, n, #{calc( var(--spacing-md) / -2 )} );
  content: "";
  width: 0;
  height: 1em;
  border-left: 0.0625rem solid var(--border-default-color);
}

.#{g.$pr}p-horizontalMenu .current-menu-item > a {
  font-weight: var(--fontWeight-bold);
}

@include g.mq(hover) {

  .#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) :not(.current-menu-item) > a:hover {
    text-decoration-line: underline;
    text-underline-offset: 0.25em;
  }

}

.#{g.$pr}p-horizontalMenu.#{g.$pr}p-horizontalMenu--arrowed a {
  @include g.arrow();
}

@include g.mq(hover) {

  .#{g.$pr}p-horizontalMenu.#{g.$pr}p-horizontalMenu--arrowed :not(.current-menu-item) > a:hover {
    @include g.arrow-hover();
  }

}
