@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > headline
//  - Display content given a date and title.
//  - header and contents will be aligned in a single line if the window width is wide.
// ------------------------------

// .#{g.$pr}p-headline {
// }

.#{g.$pr}p-headline__inner {
    display: grid;
    gap: var(--mi-spacing-small);
    align-items: baseline;

    @include g.mq(default) {
        grid-template-columns: auto 1fr;
    }
}

a.#{g.$pr}p-headline__inner {
    color: currentColor;
    text-decoration: none;
}

a.#{g.$pr}p-headline__inner .#{g.$pr}p-headline__title {
  width: 100%;
  text-decoration: underline;
}

.#{g.$pr}p-headline__header {
  @include g.flex( n, wrap, n, center );
  gap: var(--mi-spacing-x-small);
}

.#{g.$pr}p-headline__header > * {
  margin: 0;
}

.#{g.$pr}p-headline__date {
    min-width: 9em;
}

// .#{g.$pr}p-headline__category {
// }

.#{g.$pr}p-headline__category .#{g.$pr}c-label {
    width: 7rem;
    justify-content: center;
}

// .#{g.$pr}p-headline__contents {
// }

// .#{g.$pr}p-headline__title {
// }
