@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > horizontalMenu
//  - Small horizontally aligned menu.
//  - No hierarchical structure is assumed.
//  - Clickable area fits to text size.
// ------------------------------

.p-horizontalMenu__nav.c-nav {
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: var(--spacing-md);

  @include g.mq(default) {
    justify-content: center;
  }

}

.p-horizontalMenu a {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: calc( ( var(--lineHeight-xs) * 3em ) );
}

.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .c-nav__item + .c-nav__item,
.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .menu-item + .menu-item {
  position: relative;
}

.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .c-nav__item + .c-nav__item::after,
.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .menu-item + .menu-item::after {
  @include g.position( absolute, #{calc( 50% - 0.5em )}, n, n, #{calc( var(--spacing-md) / -2 )} );
  content: "";
  width: 0;
  height: 1em;
  border-left: 0.0625rem solid var(--border-default-color);
}

.p-horizontalMenu .current-menu-item > a {
  text-decoration: underline;
}

@include g.mq(hover) {

  .p-horizontalMenu:not(.p-horizontalMenu--arrowed) :not(.current-menu-item) > a:hover {
    text-decoration-line: underline;
  }

}

.p-horizontalMenu.p-horizontalMenu--arrowed a {
  padding-left: 1.25em;
  @include g.arrow();
}

.p-horizontalMenu.p-horizontalMenu--arrowed a::before {
  top: calc( ( var(--lineHeight-xs) * 1em ) / 2 - 0.275em );
  left: 0;
}
