@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > headline
//  - Display content given a date and title.
//  - header and contents will be aligned in a single line if the window width is wide.
// ------------------------------

// .#{g.$pr}p-headline {
// }

.#{g.$pr}p-headline__inner {
    @include g.flex( column, n, flex-start, baseline );
    gap: var(--spacing-xs) var(--spacing-sm);
    padding-block: var(--spacing-sm);

    @include g.mq(default) {
        flex-direction: row;
        padding-block: var(--spacing-xs);
    }

}

a.#{g.$pr}p-headline__inner {
    color: currentColor;
}

@include g.mq(hover) {

  .#{g.$pr}p-headline:has(a.#{g.$pr}p-headline__inner:hover) {
    background-color: var(--headline-hover-bg);
    transition: var(--transition-slow);
  }

  a.#{g.$pr}p-headline__inner:hover {
    text-decoration: none;
  }

  a.#{g.$pr}p-headline__inner:hover .#{g.$pr}p-headline__title,
  a.#{g.$pr}p-headline__title:hover {
    text-decoration: underline;
  }

}

.#{g.$pr}p-headline__header {
    flex-grow: 0;
    @include g.flex( n, n, n, center );
    gap: var(--spacing-xs);
    font-size: var(--fontSize-sm);
}

.#{g.$pr}p-headline__header > * {
    margin: 0;
}

.#{g.$pr}p-headline__date {
    min-width: 9em;
}

.#{g.$pr}p-headline__category .#{g.$pr}c-label {
    min-width: 10em;
}

.#{g.$pr}p-headline__contents {
    flex-grow: 1;
}

.#{g.$pr}p-headline__title.#{g.$pr}c-title {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: calc( ( var(--lineHeight-md) * 3em ) );
}

.#{g.$pr}p-headline__title a {
    display: block;
}
