@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > horizontalMenu
//  - Small horizontally aligned menu.
//  - No hierarchical structure is assumed.
//  - Clickable area fits to text size.
// ------------------------------

.p-horizontalMenu__nav.c-nav {
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: var(--spacing-md);

  @include g.mq(default) {
    justify-content: center;
  }

}

.p-horizontalMenu a {
  // The width are secured to make it easy to click.
  margin-inline: -1em;
  padding-inline: 1em;
}


// ------------------------------
// not horizontalMenu--arrowed
// ------------------------------

.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .c-nav__item + .c-nav__item,
.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .menu-item + .menu-item {
  position: relative;
}

.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .c-nav__item + .c-nav__item::after,
.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .menu-item + .menu-item::after {
  @include g.position( absolute, #{calc( 50% - 0.5em )}, n, n, #{calc( var(--spacing-md) / -2 )} );
  content: "";
  width: 0;
  height: 1em;
  border-left: 0.0625rem solid var(--ui-border-color);
}


// ------------------------------
// horizontalMenu--arrowed
// ------------------------------

.p-horizontalMenu.p-horizontalMenu--arrowed a {
  padding-left: 1.25em;
  @include g.arrow();
}

.p-horizontalMenu.p-horizontalMenu--arrowed a::before {
  // Since the arrow was rotated with rotate, it needs to move diagonally.
  top: calc( var(--lineHeight-xs) * 1em / 2 );
  left: 0;
  transform: translateX(-33%) translateY(-33%);
}
