@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > headline
//  - Display content given a date and title.
//  - header and contents will be aligned in a single line if the window width is wide.
// ------------------------------

// .#{g.$pr}p-headline {
// }

.#{g.$pr}p-headline__inner {
    @include g.flex( column, n, flex-start, baseline );
    gap: var(--spacing-xs) var(--spacing-sm);

    @include g.mq(default) {
        flex-direction: row;
    }

}

.#{g.$pr}p-headline__inner > * {
    flex-grow: 0;
}

a.#{g.$pr}p-headline__inner {
    color: currentColor;
    text-decoration: none;
}

a.#{g.$pr}p-headline__inner .#{g.$pr}p-headline__title {
    width: 100%;
    text-decoration: underline;
}

.#{g.$pr}p-headline__header {
    @include g.flex( n, n, n, center );
    gap: var(--spacing-xs);
    font-size: var(--fontSize-sm);
}

.#{g.$pr}p-headline__header > * {
    margin: 0;
}

.#{g.$pr}p-headline__date {
    min-width: 9em;
}

// .#{g.$pr}p-headline__category {
// }

.#{g.$pr}p-headline__category .#{g.$pr}c-label {
    width: 7rem;
}

// .#{g.$pr}p-headline__contents {
// }

// .#{g.$pr}p-headline__title {
// }
