@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > headlineList
//  - Repeatedly display .p-headline.
// ------------------------------

// .p-headlineList {
// }

.p-headlineList__inner {
  @include g.flex(column, n, flex-start, stretch);
  border-top: 0.0625rem solid var(--ui-border-light-color);
}

.p-sectionHeader + .p-headlineList {
  margin-top: var(--spacing-md);
}

.p-headlineList__inner > * {
  border-bottom: 0.0625rem solid var(--ui-border-light-color);
}
