@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > horizontalMenu
//  - Large horizontally aligned menu.
//  - No hierarchical structure is assumed.
// ------------------------------

.#{g.$pr}p-horizontalMenu__nav.#{g.$pr}c-nav {
  justify-content: center;
  column-gap: var(--mi-spacing-md);
}

.#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) .menu-item + .menu-item {
  position: relative;
}

.#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) .menu-item + .menu-item::after {
  @include g.position( absolute, #{calc( 50% - 0.5em )}, n, n, #{calc( var(--mi-spacing-md) / -2 )} );
  content: "";
  width: 0;
  height: 1em;
  border-left: 0.0625rem solid var(--mi-border-default-color);
}

.#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) a {
  min-height: var(--mi-nav-height);
}

.#{g.$pr}p-horizontalMenu .current-menu-item > a {
  font-weight: 700;
}

@include g.mq(hover) {

  .#{g.$pr}p-horizontalMenu:not(.#{g.$pr}p-horizontalMenu--arrowed) :not(.current-menu-item) > a:hover {
    text-decoration-line: underline;
    text-underline-offset: 0.25em;
  }

}

.#{g.$pr}p-horizontalMenu.#{g.$pr}p-horizontalMenu--inverse {
  color: var(--mi-ui-inverse-color);
  background-color: var(--mi-ui-inverse-bg);
}

.#{g.$pr}p-horizontalMenu.#{g.$pr}p-horizontalMenu--arrowed a {
  @include g.arrow();
}

@include g.mq(hover) {

  .#{g.$pr}p-horizontalMenu.#{g.$pr}p-horizontalMenu--arrowed :not(.current-menu-item) > a:hover {
    @include g.arrow-hover();
  }

}

.#{g.$pr}p-horizontalMenu.#{g.$pr}p-horizontalMenu--inverse.#{g.$pr}p-horizontalMenu--arrowed a {
  @include g.arrow( $color: 'inverse' );
}
