@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > labels
// ------------------------------

.#{g.$pr}p-labels {
  @include g.flex( n, wrap, flex-start, n );
  gap: var(--spacing-xs);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.#{g.$pr}p-labels > * {
    flex-grow: 0;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
}
