@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > media
//  - Image on the left and content on the right.
// ------------------------------

.p-media {
  position: relative;
}

.p-media::after {
  content: "";
  @include g.position( absolute, -0.25rem, -0.25rem, -0.25rem, -0.25rem, 11 );
  border: 0.125rem solid var(--ui-accent-color);
  border-radius: var(--border-radius-sm);
  opacity: 0;
}

.p-media__inner {
  position: relative;
  display: grid;
  grid-template-columns: min( 10rem, 25% ) 1fr;
  z-index: 12;
}

a.p-media__inner {
    color: currentColor;
}

a.p-media__inner {
  width: 100%;
}

@include g.mq(hover) {

  .p-media:has(a.p-media__inner:hover)::after {
    opacity: 1;
    transition: var(--transition-slow);
    outline: none;
  }

  a.p-media__inner:hover {
    text-decoration: none;
  }

  a.p-media__inner:hover .p-media__title {
    text-decoration: underline;
  }

}

.p-media__image {
  grid-column: 1 / 1;
}

.p-media__image img {
  transition: var(--transition-slow);
}

.p-media__contents {
  grid-column: 2 / 2;
  @include g.flex( column, n, center, flex-start );
  gap: var(--spacing-xs);
  padding-left: var(--spacing-sm);
}

// If meta is included, it is aligned top.
.p-media__contents:has(.p-media__meta) {
  justify-content: flex-start;
  padding-top: var(--spacing-xs);
}

.p-media__meta {
  @include g.flex( n, wrap, flex-start, center );
  gap: var(--spacing-sm);
  font-size: var(--fontSize-sm);
}

.p-media__meta > * {
  flex-grow: 0;
}

.p-media__title.c-title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: calc( ( var(--lineHeight-md) * 3em ) );
}

@include g.mq(hover) {

  a.p-media__inner:hover .p-media__image img {
    opacity: 0.8;
    transform: scale( 1.1 );
  }

}

// If the content width is narrow, the font size will be reduced.
.p-media__contents {
  container-type: inline-size;
}

@container ( width <= 30rem ) {

  .p-media__contents .c-date {
    font-size: var(--fontSize-xs);
  }

  .p-media__contents .p-media__title.c-title {
    font-size: var(--fontSize-sm);
  }

}
