@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > media
//  - Image on the left and content on the right.
// ------------------------------

.#{g.$pr}p-media {
}

.#{g.$pr}p-media__inner {
  display: grid;
  grid-template-columns: min( 10rem, 20% ) 1fr;
  gap: var(--spacing-sm);
}

a.#{g.$pr}p-media__inner {
    color: currentColor;
    text-decoration: none;
}

a.#{g.$pr}p-media__inner {
  width: 100%;
}

a.#{g.$pr}p-media__inner:not(:hover) .#{g.$pr}p-media__title {
  text-decoration: underline;
}

.#{g.$pr}p-media__image {
  grid-column: 1 / 1;
}

.#{g.$pr}p-media__image img {
  transition: var(--nav-default-transition);
}

.#{g.$pr}p-media__contents {
  grid-column: 2 / 2;
  @include g.flex( column, n, flex-start, flex-start );
  gap: var(--spacing-xs);
}

.#{g.$pr}p-media__meta {
  @include g.flex( n, wrap, flex-start, center );
  gap: var(--spacing-sm);
  font-size: var(--fontSize-sm);
}

.#{g.$pr}p-media__meta > * {
  flex-grow: 0;
}

@include g.mq(hover) {

  a.#{g.$pr}p-media__inner:hover .#{g.$pr}p-media__image img {
    opacity: 0.8;
    transform: scale( 1.1 );
  }

}
