@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > media
//  - Image on the left and content on the right.
// ------------------------------

.#{g.$pr}p-media {
  background-color: var(--body-bg);
  box-shadow: var(--shadow--sm);

  @include g.mq(default) {
    box-shadow: none;
    background-color: transparent;
  }

}

.#{g.$pr}p-media__inner {
  display: grid;
  grid-template-columns: min( 10rem, 25% ) 1fr;
}

a.#{g.$pr}p-media__inner {
    color: currentColor;
}

a.#{g.$pr}p-media__inner {
  width: 100%;
}

@include g.mq(hover) {

  .#{g.$pr}p-media:has(a.#{g.$pr}p-media__inner:hover) {
    background-color: var(--media-bg);
    box-shadow: var(--shadow--sm);
    transition: var(--transition-slow);
  }

  a.#{g.$pr}p-media__inner:hover {
    text-decoration: none;
  }

  a.#{g.$pr}p-media__inner:hover .#{g.$pr}p-media__title {
    text-decoration: underline;
  }

}

.#{g.$pr}p-media__image {
  grid-column: 1 / 1;
}

.#{g.$pr}p-media__image img {
  transition: var(--transition-slow);
}

.#{g.$pr}p-media__contents {
  grid-column: 2 / 2;
  @include g.flex( column, n, center, flex-start );
  gap: var(--spacing-xs);
  padding-inline: var(--spacing-sm);
}

// If meta is included, it is aligned top.
.#{g.$pr}p-media__contents:has(.#{g.$pr}p-media__meta) {
  justify-content: flex-start;
  padding-top: var(--spacing-xs);
}

.#{g.$pr}p-media__meta {
  @include g.flex( n, wrap, flex-start, center );
  gap: var(--spacing-sm);
  font-size: var(--fontSize-sm);
}

.#{g.$pr}p-media__meta > * {
  flex-grow: 0;
}

.#{g.$pr}p-media__title.#{g.$pr}c-title {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 3em;
}

@include g.mq(hover) {

  a.#{g.$pr}p-media__inner:hover .#{g.$pr}p-media__image img {
    opacity: 0.8;
    transform: scale( 1.1 );
  }

}

// If the content width is narrow, the font size will be reduced.
.#{g.$pr}p-media__contents {
  container-type: inline-size;
}

@container ( width <= 30rem ) {

  .#{g.$pr}p-media__contents .#{g.$pr}c-date {
    font-size: var(--fontSize-xs);
  }

  .#{g.$pr}p-media__contents .#{g.$pr}p-media__title.#{g.$pr}c-title {
    font-size: var(--fontSize-sm);
  }

}
