@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > mediaList
//  - Repeatedly display .p-media.
// ------------------------------

// .p-mediaList {
// }

.p-mediaList__inner {
  @include g.flex(column, n, flex-start, stretch);
  gap: var(--spacing-md);
}

.p-sectionHeader + .p-mediaList {
  margin-top: var(--spacing-md);
}
