@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > posts
//  - Repeatedly display posts.
// ------------------------------

.#{g.$pr}p-posts {
  @include g.flex(column, n, flex-start, stretch);
}


// ------------------------------
// card
// ------------------------------

.#{g.$pr}p-posts.#{g.$pr}p-posts--card {
  gap: var(--spacing-md);

  @include g.mq(default) {
    @include g.flex( n, wrap, n, n );
  }

}

.#{g.$pr}p-posts.#{g.$pr}p-posts--card > * {

  @include g.mq(default-max) {
    max-width: ( math.div( 480, 16 ) * 1rem );
    margin-inline: auto;
  }

  @include g.mq(default) {
    flex-grow: 0;
    width: calc( 33.3333% - ( var(--spacing-md) * 2 / 3 ) );
  }

}

.#{g.$pr}p-posts.#{g.$pr}p-posts--card .#{g.$pr}p-card__inner {
  height: 100%;
}


// ------------------------------
// headline
// ------------------------------

.#{g.$pr}p-posts.#{g.$pr}p-posts--headline {
  border-top: 0.0625rem solid var(--border-default-light-color);
}

.#{g.$pr}p-posts.#{g.$pr}p-posts--headline > * {
  padding-block: var(--spacing-sm);
  border-bottom: 0.0625rem solid var(--border-default-light-color);

  @include g.mq(default) {
    padding-block: var(--spacing-xs);
  }

}



// ------------------------------
// media
// ------------------------------

.#{g.$pr}p-posts.#{g.$pr}p-posts--media {
  gap: var(--spacing-md);
}
