@use "../../global" as g;
@use "sass:math";

// Do not specify a height directly on the page header wrapper element.
// (as this will leave space above the header)
.p-pageHeader__contents.l-container {
  @include g.flex( n, n, center, center );
  min-height: 10rem;
}
