@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > post
//  - Display single post.
// ------------------------------

.p-post__title {
    overflow-wrap: anywhere;
    word-break: normal;
    line-break: strict;
}

.p-post__footer__link .c-nav__item {
    word-break: break-all;
}

// .p-post__header {
// }

.p-post__header::after {
    display: block;
    content: "";
    width: 100%;
    margin-top: var(--spacing-md);
    max-width: var(--container-default-width);
    margin-inline: auto;
}

.p-post__header__contents {
    padding-top: var(--spacing-lg);
}

.p-post__header__meta {
    @include g.flex( n, wrap, flex-start, center );
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-xs);
}

.p-post__header__meta > * {
    margin: 0;
}

// .p-post__contents {
// }

.p-post__category {
    @include g.flex( n, wrap, flex-start, center );
    gap: var(--spacing-xs);
}

// .p-post__footer {
// }

.p-post__footer::before {
    display: block;
    content: "";
    width: 100%;
    margin-bottom: var(--spacing-md);
    max-width: var(--container-default-width);
    margin-inline: auto;
}

.p-post__footer__contents {
    padding-bottom: var(--spacing-lg);
}

.p-post__footer__contents > * + * {
    margin-top: var(--spacing-sm);
}

// .p-post__footer__tags {
// }

.p-post__footer__tags .c-nav {
    row-gap: var(--spacing-xs);
}

.p-post__footer__tags .c-nav__item {
    position: relative;
    padding-left: 1em;
}

.p-post__footer__tags .c-nav__item:before {
    @include g.position( absolute, 0.1em, n, n, 0, n );
    content: "#";
    font-weight: var(--fontWeight-bold);
    color: var(--ui-accent-color);
    line-height: var(--lineHeight-none);
}

.p-post__footer__link {
    margin-top: var(--spacing-md);
}

.p-post__footer__link.p-horizontalMenu .c-nav {
    @include g.mq(default-max) {
        flex-direction: column;
        align-items: stretch;
    }
}

.p-post__footer__link .c-nav__item {
    @include g.mq(default) {
        max-width: 33.33%;
    }
}

.p-post__footer__link.p-horizontalMenu .c-nav__item + .c-nav__item::after,
.p-horizontalMenu:not(.p-horizontalMenu--arrowed) .c-nav-item + .c-nav-item::after {
    @include g.mq(default-max) {
        display: none;
    }
}

.p-post__footer__link .c-nav__item:not(.p-post__footer__back) {
    flex-grow: 1;
}

.p-post__footer__link .c-nav__item.p-post__footer__prev a {
    @include g.mq(default) {
        justify-content: flex-end;
    }
}

.p-post__footer__back {
    font-size: var(--font-size-md);
}


// ------------------------------
// post(blog)
// ------------------------------

.p-post.p-post--post .p-post__header::after {
    border-bottom: 0.0625rem solid var(--ui-border-light-color);
}

.p-post.p-post--post .p-post__contents {
    padding-block: var(--spacing-lg);
}

.p-post.p-post--post .p-post__footer::before {
    border-top: 0.0625rem solid var(--ui-border-light-color);
}
