@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > posts
//  - Repeatedly display posts.
// ------------------------------

.#{g.$pr}p-posts {
  @include g.flex(column, n, flex-start, stretch);
  gap: var(--mi-spacing-small);
}


// ------------------------------
// list
// ------------------------------


// ------------------------------
// headline
// ------------------------------


// ------------------------------
// media
// ------------------------------

.#{g.$pr}p-posts.#{g.$pr}p-posts--media a.#{g.$pr}p-media__inner {
  color: inherit;
  text-decoration: none;
}

// .#{g.$pr}p-posts.#{g.$pr}p-posts--media .#{g.$pr}c-date {
// }

// .#{g.$pr}p-posts.#{g.$pr}p-posts--media .#{g.$pr}c-labels {
// }

.#{g.$pr}p-posts.#{g.$pr}p-posts--media .#{g.$pr}c-title {
  width: 100%;
  text-decoration: underline;
}


// ------------------------------
// summary
// ------------------------------

