@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > posts
//  - Repeatedly display posts.
// ------------------------------

.p-posts {
    @include g.flex(column, n, flex-start, stretch);
    row-gap: var(--spacing-md);
    padding-block: var(--spacing-lg);
}

// .p-posts__header {
// }

.p-posts__contents > * + * {
    margin-top: var(--spacing-md);
}

// .p-posts__footer {
// }


// ------------------------------
// card
// ------------------------------

.p-posts.p-posts--card {
    gap: var(--spacing-md);

    @include g.mq(default) {
        @include g.flex( n, wrap, n, n );
    }

}

.p-posts.p-posts--card > * {

    @include g.mq(default-max) {
        max-width: ( math.div( 480, 16 ) * 1rem );
        margin-inline: auto;
    }

    @include g.mq(default) {
        flex-grow: 0;
        width: calc( 33.3333% - ( var(--spacing-md) * 2 / 3 ) );
    }

}

.p-posts.p-posts--card .p-card__inner {
    height: 100%;
}


// ------------------------------
// headline
// ------------------------------

.p-posts.p-posts--headline {
    border-top: 0.0625rem solid var(--ui-border-light-color);
}

.p-posts.p-posts--headline > * {
    border-bottom: 0.0625rem solid var(--ui-border-light-color);
}



// ------------------------------
// media
// ------------------------------

.p-posts.p-posts--media {
    gap: var(--spacing-sm);
}
