@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > sitemap
//  - Vertically aligned menu.
//  - Creates columns for wider windows.
//  - Treats top-level buttons as subheadings.
//  - Add an arrow to second-level button.
//  - Assumes a hierarchy of up to 3 levels.
// ------------------------------

.#{g.$pr}p-sitemap {
}

.#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav {
  @include g.flex(column, wrap, flex-start, n);
  gap: var(--mi-spacing-md);
}

@include g.mq(default) {

  .#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav {
    flex-direction: row;
    gap: var(--mi-spacing-md);
  }

}

@include g.mq(default) {
  .#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav {
    flex-flow: row wrap;
  }

}

.#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav > * {
  flex: 0;
}

@include g.mq(default) {
  .#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav > * {
    flex-basis: calc( 50% - ( var(--mi-spacing-md) / 2 ) );
  }
}

@include g.mq(wide) {
  .#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav > * {
    flex-basis: calc( 33.33% - ( ( var(--mi-spacing-md) * 2 ) / 3 ) );
  }
}

.#{g.$pr}p-sitemap__nav a {
  @include g.arrow();
}

@include g.mq(hover) {

  .#{g.$pr}p-sitemap__nav :not(.current-menu-item) > a:hover {
    @include g.arrow-hover();
  }

}

.#{g.$pr}p-sitemap--inverse .#{g.$pr}p-sitemap__nav a {
  @include g.arrow( $color: 'inverse' );
}

// ------------------------------
// first-level
// ------------------------------

.#{g.$pr}p-sitemap__nav > .menu-item > a {
  font-size: var(--mi-fontSize-lg);
  font-weight: 700;
}

// ------------------------------
// second-level
// ------------------------------

.#{g.$pr}p-sitemap__nav .sub-menu {
  padding-left: 1.25em;
}

.#{g.$pr}p-sitemap__nav .sub-menu .current-menu-item > a {
  font-weight: 700;
}

.#{g.$pr}p-sitemap__nav .sub-menu .menu-item {
  margin-top: 1.25em;
}

// ------------------------------
// third-level
// ------------------------------

.#{g.$pr}p-sitemap__nav .sub-menu > .menu-item:not(:last-child) .sub-menu {
  margin-bottom: 1.5em;
}

