@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > sectionHeader
//  - The header part of a section, intended to contain a heading and caption.
// ------------------------------

.#{g.$pr}p-sectionHeader {
  @include g.flex(column, n, flex-start, center);
  row-gap: var(--mi-spacing-x-small);
}

// .#{g.$pr}p-sectionHeader__title {
// }

// .#{g.$pr}p-sectionHeader__subTitle {
// }
