@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > stickyMenu
//  - Large horizontally aligned menu.
//  - Always follows the bottom of the window.
//  - No hierarchical structure is assumed.
// ------------------------------

.#{g.$pr}p-stickyMenu {
  @include g.position(fixed, n, n, 0, 0, 21);
  width: 100vw;
  color: var(--ui-default-color);
  background-color: var(--body-bg);
  box-shadow: var(--shadow--sm-darken);
  z-index: 21;
}

.#{g.$pr}p-stickyMenu__nav.#{g.$pr}c-nav {
  justify-content: center;
}

.#{g.$pr}p-stickyMenu__nav a {
  min-height: var(--nav-height);
}

.#{g.$pr}p-stickyMenu__nav .current-menu-item > a {
  font-weight: 700;
}

@include g.mq(hover) {

  .#{g.$pr}p-stickyMenu__nav :not(.current-menu-item) > a:hover {
    text-decoration-line: underline;
    text-underline-offset: 0.25em;
  }

}

.#{g.$pr}p-stickyMenu.#{g.$pr}p-stickyMenu--inverse {
  color: var(--ui-inverse-color);
  background-color: var(--ui-inverse-bg);
}
