@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > stickyMenu
//  - Large horizontally aligned menu.
//  - Always follows the bottom of the window.
//  - No hierarchical structure is assumed.
// ------------------------------

.#{g.$pr}p-stickyMenu {
  @include g.position(fixed, n, n, 0, 0, 21);
  width: 100vw;
  color: var(--ui-inverse-color);
  background-color: var(--cover-inverse-color);
  padding-block: var(--spacing-xs);
  z-index: 21;
}

.#{g.$pr}p-stickyMenu__nav.#{g.$pr}c-nav {
  flex-wrap: nowrap;
  justify-content: center;
}

.#{g.$pr}p-stickyMenu a {
  @include g.flex( n, n, center, center );
  min-width: 8em;
  min-height: 2.5em;
  background-color: var(--ui-accent-color);
  border: 0.0625rem solid var(--ui-accent-color);
  border-radius: 99em;
  color: var(--ui-inverse-color);
  font-size: var(--fontSize-md);
  font-weight: var(--fontWeight-bold);
  line-height: var(--lineHeight-none);
  transition: var(--transition-fast);
  text-align: center;
}

.#{g.$pr}p-stickyMenu a:hover,
.#{g.$pr}p-stickyMenu a:focus {
  background-color: var(--ui-inverse-color);
  text-decoration: none;
  box-shadow: var(--shadow--sm);
}

.#{g.$pr}p-stickyMenu a:focus {
    outline: none;
}
