@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > sitemap
//  - Vertically aligned menu.
//  - Creates columns for wider windows.
//  - Treats top-level buttons as subheadings.
//  - Add an arrow to second-level button.
//  - Assumes a hierarchy of up to 3 levels.
// ------------------------------

.#{g.$pr}p-sitemap {
}

.#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav {
  align-items: flex-start;
  flex-direction: column;
  gap: var(--spacing-md);
}

.#{g.$pr}p-sitemap.#{g.$pr}p-sitemap--wide .#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav {
  @include g.mq(default) {
    flex-direction: row;
  }
}

.#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav > * {
  flex: 0;
}

.#{g.$pr}p-sitemap.#{g.$pr}p-sitemap--wide .#{g.$pr}p-sitemap__nav.#{g.$pr}c-nav > * {
  @include g.mq(default) {
    flex-basis: calc( 50% - ( var(--spacing-md) / 2 ) );
  }

  @include g.mq(xga) {
    flex-basis: calc( 33.33% - ( ( var(--spacing-md) * 2 ) / 3 ) );
  }

  @include g.mq(wide) {
    flex-basis: calc( 25% - ( ( var(--spacing-md) * 3 ) / 4 ) );
  }
}


.#{g.$pr}p-sitemap__nav a {
  padding-left: 1.25em;
  @include g.arrow();
}

.#{g.$pr}p-sitemap__nav a::before {
  top: calc( ( var(--nav-line-height) * 1em ) / 2 - 0.275em );
  left: 0;
}

.#{g.$pr}p-sitemap__nav .current-menu-item > a {
  @include g.arrow-current();
}

// ------------------------------
// first-level
// ------------------------------

.#{g.$pr}p-sitemap__nav > .menu-item > a {
  font-weight: var(--fontWeight-bold);
}

// ------------------------------
// second-level
// ------------------------------

.#{g.$pr}p-sitemap__nav .sub-menu {
  padding-left: 1.25em;
  font-size: var(--fontSize-sm);
}

.#{g.$pr}p-sitemap__nav .sub-menu .menu-item {
  margin-top: 1.25em;
}

// ------------------------------
// third-level
// ------------------------------

.#{g.$pr}p-sitemap__nav .sub-menu > .menu-item:not(:last-child) .sub-menu {
  margin-bottom: 1.5em;
  font-size: var(--fontSize-xs);
}

