@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > sectionHeader
//  - The header part of a section, intended to contain a heading and caption.
// ------------------------------

// .#{g.$pr}p-sectionHeader {
// }

// .#{g.$pr}p-sectionHeader__title.#{g.$pr}c-title {
// }

.#{g.$pr}p-sectionHeader__subTitle.#{g.$pr}c-title {
  color: var(--color-primary);
  margin-top: var(--spacing-xs);
}

.#{g.$pr}p-sectionHeader__lead {
  margin-top: var(--spacing-sm);
  line-height: var(--lineHeight-sm);
}

// If the heading is centered, the lead should also be centered.
.#{g.$pr}p-sectionHeader:has(.#{g.$pr}c-title--center) .#{g.$pr}p-sectionHeader__lead {
  text-align: center;
}
