@use "../../global" as g;
@use "sass:math";

.#{g.$pr}p-siteTitle {
  @include g.flex(column, n, center, flex-start);
  margin: 0;
  line-height: var(--lineHeight-none);
}

.#{g.$pr}p-siteTitle > * {
  flex-grow: 0;
}

.#{g.$pr}p-siteTitle a {
  color: var(--color-default-dark);
  text-decoration: none;
}

@include g.mq(hover) {

  .#{g.$pr}p-siteTitle a:hover {
    color: var(--color-default-dark);
    text-decoration: none;
  }

  .#{g.$pr}p-siteTitle a:hover .#{g.$pr}p-siteTitle__label {
    text-decoration-line: underline;
    text-underline-offset: 0.25em;
  }

}

.#{g.$pr}p-siteTitle a:focus {
  color: var(--color-default-dark);
}

.#{g.$pr}p-siteTitle__label {
  font-size: var(--fontSize-xl);
  font-weight: bold;
}

.#{g.$pr}p-siteTitle__logo > img,
.#{g.$pr}p-siteTitle__logo > svg {
  display: block;
  width: 100%;
  max-width: 50vw;
  max-height: 3rem;
}

@include g.mq(default) {

  .#{g.$pr}p-siteTitle__logo > img,
  .#{g.$pr}p-siteTitle__logo > svg {
    max-width: 20rem;
  }

}
