@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > section
//  - A major division within a page, with an emphasized header
// ------------------------------

.p-section {
  @include g.flex( column, n, flex-start, stretch );
  gap: var(--spacing-sm) var(--spacing-md);

  @include g.mq(default) {
    row-gap: var(--spacing-md);
  }
}

// .p-section__header {
// }

// .p-section__title.c-title {
// }

.p-section__subTitle.c-title {
  margin-top: var(--spacing-xs);
}

// .p-section__contents {
// }

// .p-section__footer {
// }

.p-section.p-section--horizontal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  gap: var(--spacing-md) var(--spacing-lg);
  width: 100%;
  max-width: calc( var(--container-default-width) + ( var(--screen-x-spacing) * 2 ) );
  padding-inline: var(--screen-x-spacing);
  margin-inline: auto;

  @include g.mq(xga) {
    max-width: calc( var(--container-wide-width) + ( var(--screen-x-spacing) * 2 ) );
    grid-template-columns: 15rem 1fr;
  }
}

.p-section.p-section--horizontal .p-section__title,
.p-section.p-section--horizontal .p-section__subTitle {
  @include g.mq(xga) {
    text-align: right;
  }
}
