@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > section
//  - A major division within a page, with an emphasized header
// ------------------------------

.p-section {
    @include g.flex( column, n, flex-start, stretch );
}

.p-section__header {
    margin-bottom: var(--spacing-md);
}

// .p-section__title.c-title {
// }

.p-section__subTitle.c-title {
    color: var(--ui-accent-color);
    margin-top: var(--spacing-xs);
}

// .p-section__contents {
// }

.p-section__footer {
    margin-top: var(--spacing-sm);
}

.p-section__link {
    margin: 0;
    text-align: right;
}

.p-section__link a {
    @include g.iFlex(n, n, n, center);
    gap: var(--spacing-xs);
    line-height: var(--lineHeight-xs);
    color: var(--ui-default-color);
    text-decoration: none;
    padding-left: 1.25em;
    @include g.arrow();
}

.p-section__link a::before {
    // Since the arrow was rotated with rotate, it needs to move diagonally.
    top: calc( var(--lineHeight-xs) * 1em / 2 );
    left: 0;
    transform: translateX(-33%) translateY(-33%);
}

@include g.mq(hover) {

    .p-section__link a:hover {
        color: var(--ui-default-color);
        text-decoration: underline;
    }

}

.p-section__link a:focus {
    color: var(--ui-default-color);
}


// ------------------------------
// p-section--horizontal
// ------------------------------

.p-section.p-section--horizontal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    column-gap: var(--spacing-lg);

    @include g.mq(xga) {
        max-width: var(--container-wide-width);
        grid-template-columns: 15rem 1fr;
    }
}

.p-section.p-section--horizontal .p-section__header {
    @include g.mq(xga) {
        margin-bottom: 0;
    }
}

.p-section.p-section--horizontal .p-section__footer {
    @include g.mq(xga) {
        grid-row: 2 / -1;
        grid-column: 2 / -1;
    }
}

.p-section.p-section--horizontal .p-section__title,
.p-section.p-section--horizontal .p-section__subTitle {
    @include g.mq(xga) {
        text-align: right;
    }
}
