@use "../../global" as g;
@use "sass:math";

// ------------------------------
// project > verticalMenu
//  - Large vertically aligned menu.
//  - Aligned vertically regardless of the window width.
//  - Treats top-level buttons as subheadings.
//  - Add an arrow to second-level button.
//  - Assumes a hierarchy of up to 3 levels.
// ------------------------------

.#{g.$pr}p-verticalMenu__nav.#{g.$pr}c-nav {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: var(--spacing-md);
}

.#{g.$pr}p-verticalMenu__nav.#{g.$pr}c-nav > * {
  flex: 0;
}

@include g.mq(default) {
  .#{g.$pr}p-verticalMenu__nav.#{g.$pr}c-nav > * {
    flex-basis: calc( 50% - ( var(--spacing-md) / 2 ) );
  }
}

@include g.mq(wide) {
  .#{g.$pr}p-verticalMenu__nav.#{g.$pr}c-nav > * {
    flex-basis: calc( 33.33% - ( ( var(--spacing-md) * 2 ) / 3 ) );
  }
}

// ------------------------------
// first-level
// ------------------------------

.#{g.$pr}p-verticalMenu__nav > .menu-item > a {
  position: relative;
  font-size: var(--fontSize-xl);
  font-weight: var(--fontWeight-bold);
  text-decoration: none;
  padding-left: var(--spacing-md );
}

.#{g.$pr}p-verticalMenu__nav > .menu-item > a::before {
  @include g.position(absolute, calc( 50% - 0.0625rem ), n, n, 0);
  content: "";
  width: calc( var(--spacing-md) - var(--spacing-xs) );
  height: 0.125rem;
  background-color: var(--ui-accent-color);
  opacity: 1;
  transform: scaleX(1);
  transform-origin: right top;
}

@include g.mq(hover) {

  .#{g.$pr}p-verticalMenu__nav > :not(.current-menu-item) > a:hover::before {
    transform: scaleX(0.2);
    transition: var(--transition-cubic);
  }

}

.#{g.$pr}p-verticalMenu__nav > .current-menu-item > a::before {
  opacity: 0.3;
  background-color: currentColor;
}


// ------------------------------
// second-level
// ------------------------------

// 1.25em = left spacing of arrowed link
.#{g.$pr}p-verticalMenu__nav > .menu-item > .sub-menu {
  padding-left: calc( var(--spacing-md) - 1.25em );
}

.#{g.$pr}p-verticalMenu__nav .sub-menu .menu-item {
  margin-top: 1.25em;
}

.#{g.$pr}p-verticalMenu__nav .sub-menu a {
  padding-left: 1.25em;
  @include g.arrow();
}

.#{g.$pr}p-verticalMenu__nav .sub-menu a::before {
  top: calc( ( var(--nav-line-height) * 1em ) / 2 - 0.275em );
  left: 0;
}

.#{g.$pr}p-verticalMenu__nav .sub-menu .current-menu-item > a {
  @include g.arrow-current();
}

// ------------------------------
// third-level
// ------------------------------

.#{g.$pr}p-verticalMenu__nav .sub-menu .sub-menu {
  padding-left: 1.25em;
}

.#{g.$pr}p-verticalMenu__nav .sub-menu > .menu-item:not(:last-child) .sub-menu {
  margin-bottom: 1.5em;
}
