@use "../../global" as g;
@use "sass:math";

.u-color--default-dark {
    color: var(--color-default-dark) !important;
}

.u-color--default {
    color: var(--color-default) !important;
}

.u-color--default-light {
    color: var(--color-default-light) !important;
}

.u-color--default-lighter {
    color: var(--color-default-lighter) !important;
}

.u-color--default-fade {
    color: var(--color-default-fade) !important;
}

.u-color--primary-dark {
    color: var(--color-primary-dark) !important;
}

.u-color--primary {
    color: var(--color-primary) !important;
}

.u-color--primary-light {
    color: var(--color-primary-light) !important;
}

.u-color--primary-lighter {
    color: var(--color-primary-lighter) !important;
}

.u-color--primary-fade {
    color: var(--color-primary-fade) !important;
}

.u-color--secondary-dark {
    color: var(--color-secondary-dark) !important;
}

.u-color--secondary {
    color: var(--color-secondary) !important;
}

.u-color--secondary-light {
    color: var(--color-secondary-light) !important;
}

.u-color--secondary-lighter {
    color: var(--color-secondary-lighter) !important;
}

.u-color--secondary-fade {
    color: var(--color-secondary-fade) !important;
}

.u-color--tertiary-dark {
    color: var(--color-tertiary-dark) !important;
}

.u-color--tertiary {
    color: var(--color-tertiary) !important;
}

.u-color--tertiary-light {
    color: var(--color-tertiary-light) !important;
}

.u-color--tertiary-lighter {
    color: var(--color-tertiary-lighter) !important;
}

.u-color--tertiary-fade {
    color: var(--color-tertiary-fade) !important;
}

.u-color--tertiary-dark {
    color: var(--color-tertiary-dark) !important;
}

.u-color--tertiary {
    color: var(--color-tertiary) !important;
}

.u-color--tertiary-light {
    color: var(--color-tertiary-light) !important;
}

.u-color--tertiary-lighter {
    color: var(--color-tertiary-lighter) !important;
}

.u-color--tertiary-fade {
    color: var(--color-tertiary-fade) !important;
}

.u-color--important-dark {
    color: var(--color-important-dark) !important;
}

.u-color--important {
    color: var(--color-important) !important;
}

.u-color--important-light {
    color: var(--color-important-light) !important;
}

.u-color--important-lighter {
    color: var(--color-important-lighter) !important;
}

.u-color--important-fade {
    color: var(--color-important-fade) !important;
}

.u-color--white {
    color: var(--color-white) !important;
}

.u-color--black {
    color: var(--color-black) !important;
}

