@use "../../global" as g;
@use "sass:math";

.u-fontSize--xs {
    font-size: var(--font-size-xs) !important;
}

.u-fontSize--sm {
    font-size: var(--font-size-sm) !important;
}

.u-fontSize--md {
    font-size: var(--font-size-md) !important;
}

.u-fontSize--lg {
    font-size: var(--font-size-lg) !important;
}

.u-fontSize--xl {
    font-size: var(--font-size-xl) !important;
}

.u-fontSize--2xl {
    font-size: var(--font-size-2xl) !important;
}

.u-fontSize--3xl {
    font-size: var(--font-size-3xl) !important;
}

.u-fontSize--4xl {
    font-size: var(--font-size-4xl) !important;
}

.u-fontSize--5xl {
    font-size: var(--font-size-5xl) !important;
}

