@use "../../global" as g;
@use "sass:math";

@include g.mq(wide-max) {
  .u-wide {
    display: none !important;
  }
}

@include g.mq(xga-max) {
  .u-xga,
  .u-pc {
    display: none !important;
  }
}

@include g.mq(default) {
  .u-sp {
    display: none !important;
  }
}
