@use "../../global" as g;
@use "sass:math";

.#{g.$pr}u-m--0 {
  margin: 0 !important;
}
.#{g.$pr}u-m--xs {
  margin: var(--spacing-xs) !important;
}
.#{g.$pr}u-m--sm {
  margin: var(--spacing-sm) !important;
}
.#{g.$pr}u-m--md {
  margin: var(--spacing-md) !important;
}
.#{g.$pr}u-m--lg {
  margin: var(--spacing-lg) !important;
}
.#{g.$pr}u-m--xl {
  margin: var(--spacing-xl) !important;
}

.#{g.$pr}u-m--t-0 {
  margin-top: 0 !important;
}
.#{g.$pr}u-m--t-xs {
  margin-top: var(--spacing-xs) !important;
}
.#{g.$pr}u-m--t-sm {
  margin-top: var(--spacing-sm) !important;
}
.#{g.$pr}u-m--t-md {
  margin-top: var(--spacing-md) !important;
}
.#{g.$pr}u-m--t-lg {
  margin-top: var(--spacing-lg) !important;
}
.#{g.$pr}u-m--t-xl {
  margin-top: var(--spacing-xl) !important;
}

.#{g.$pr}u-m--b-0 {
  margin-bottom: 0 !important;
}
.#{g.$pr}u-m--b-xs {
  margin-bottom: var(--spacing-xs) !important;
}
.#{g.$pr}u-m--b-sm {
  margin-bottom: var(--spacing-sm) !important;
}
.#{g.$pr}u-m--b-md {
  margin-bottom: var(--spacing-md) !important;
}
.#{g.$pr}u-m--b-lg {
  margin-bottom: var(--spacing-lg) !important;
}
.#{g.$pr}u-m--b-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.#{g.$pr}u-m--l-0 {
  margin-left: 0 !important;
}
.#{g.$pr}u-m--l-xs {
  margin-left: var(--spacing-xs) !important;
}
.#{g.$pr}u-m--l-sm {
  margin-left: var(--spacing-sm) !important;
}
.#{g.$pr}u-m--l-md {
  margin-left: var(--spacing-md) !important;
}
.#{g.$pr}u-m--l-lg {
  margin-left: var(--spacing-lg) !important;
}
.#{g.$pr}u-m--l-xl {
  margin-left: var(--spacing-xl) !important;
}

.#{g.$pr}u-m--r-0 {
  margin-right: 0 !important;
}
.#{g.$pr}u-m--r-xs {
  margin-right: var(--spacing-xs) !important;
}
.#{g.$pr}u-m--r-sm {
  margin-right: var(--spacing-sm) !important;
}
.#{g.$pr}u-m--r-md {
  margin-right: var(--spacing-md) !important;
}
.#{g.$pr}u-m--r-lg {
  margin-right: var(--spacing-lg) !important;
}
.#{g.$pr}u-m--r-xl {
  margin-right: var(--spacing-xl) !important;
}

@include g.mq(default-max) {
  .#{g.$pr}u-m--0-sp {
    margin: 0 !important;
  }
  .#{g.$pr}u-m--xs-sp {
    margin: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--sm-sp {
    margin: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--md-sp {
    margin: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--lg-sp {
    margin: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--xl-sp {
    margin: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--t-0-sp {
    margin-top: 0 !important;
  }
  .#{g.$pr}u-m--t-xs-sp {
    margin-top: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--t-sm-sp {
    margin-top: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--t-md-sp {
    margin-top: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--t-lg-sp {
    margin-top: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--t-xl-sp {
    margin-top: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--b-0-sp {
    margin-bottom: 0 !important;
  }
  .#{g.$pr}u-m--b-xs-sp {
    margin-bottom: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--b-sm-sp {
    margin-bottom: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--b-md-sp {
    margin-bottom: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--b-lg-sp {
    margin-bottom: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--b-xl-sp {
    margin-bottom: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--l-0-sp {
    margin-left: 0 !important;
  }
  .#{g.$pr}u-m--l-xs-sp {
    margin-left: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--l-sm-sp {
    margin-left: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--l-md-sp {
    margin-left: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--l-lg-sp {
    margin-left: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--l-xl-sp {
    margin-left: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--r-0-sp {
    margin-right: 0 !important;
  }
  .#{g.$pr}u-m--r-xs-sp {
    margin-right: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--r-sm-sp {
    margin-right: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--r-md-sp {
    margin-right: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--r-lg-sp {
    margin-right: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--r-xl-sp {
    margin-right: var(--spacing-xl) !important;
  }

}

@include g.mq(default) {
  .#{g.$pr}u-m--0-pc {
    margin: 0 !important;
  }
  .#{g.$pr}u-m--xs-pc {
    margin: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--sm-pc {
    margin: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--md-pc {
    margin: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--lg-pc {
    margin: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--xl-pc {
    margin: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--t-0-pc {
    margin-top: 0 !important;
  }
  .#{g.$pr}u-m--t-xs-pc {
    margin-top: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--t-sm-pc {
    margin-top: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--t-md-pc {
    margin-top: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--t-lg-pc {
    margin-top: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--t-xl-pc {
    margin-top: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--b-0-pc {
    margin-bottom: 0 !important;
  }
  .#{g.$pr}u-m--b-xs-pc {
    margin-bottom: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--b-sm-pc {
    margin-bottom: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--b-md-pc {
    margin-bottom: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--b-lg-pc {
    margin-bottom: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--b-xl-pc {
    margin-bottom: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--l-0-pc {
    margin-left: 0 !important;
  }
  .#{g.$pr}u-m--l-xs-pc {
    margin-left: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--l-sm-pc {
    margin-left: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--l-md-pc {
    margin-left: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--l-lg-pc {
    margin-left: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--l-xl-pc {
    margin-left: var(--spacing-xl) !important;
  }

  .#{g.$pr}u-m--r-0-pc {
    margin-right: 0 !important;
  }
  .#{g.$pr}u-m--r-xs-pc {
    margin-right: var(--spacing-xs) !important;
  }
  .#{g.$pr}u-m--r-sm-pc {
    margin-right: var(--spacing-sm) !important;
  }
  .#{g.$pr}u-m--r-md-pc {
    margin-right: var(--spacing-md) !important;
  }
  .#{g.$pr}u-m--r-lg-pc {
    margin-right: var(--spacing-lg) !important;
  }
  .#{g.$pr}u-m--r-xl-pc {
    margin-right: var(--spacing-xl) !important;
  }

}
