@use "../../global" as g;
@use "sass:math";

.u-p--0 {
    margin: 0 !important;
}
.u-p--xs {
    margin: var(--spacing-xs) !important;
}
.u-p--sm {
    margin: var(--spacing-sm) !important;
}
.u-p--md {
    margin: var(--spacing-md) !important;
}
.u-p--lg {
    margin: var(--spacing-lg) !important;
}
.u-p--xl {
    margin: var(--spacing-xl) !important;
}

.u-p--t-0 {
    padding-top: 0 !important;
}
.u-p--t-xs {
    padding-top: var(--spacing-xs) !important;
}
.u-p--t-sm {
    padding-top: var(--spacing-sm) !important;
}
.u-p--t-md {
    padding-top: var(--spacing-md) !important;
}
.u-p--t-lg {
    padding-top: var(--spacing-lg) !important;
}
.u-p--t-xl {
    padding-top: var(--spacing-xl) !important;
}

.u-p--b-0 {
    padding-bottom: 0 !important;
}
.u-p--b-xs {
    padding-bottom: var(--spacing-xs) !important;
}
.u-p--b-sm {
    padding-bottom: var(--spacing-sm) !important;
}
.u-p--b-md {
    padding-bottom: var(--spacing-md) !important;
}
.u-p--b-lg {
    padding-bottom: var(--spacing-lg) !important;
}
.u-p--b-xl {
    padding-bottom: var(--spacing-xl) !important;
}

.u-p--l-0 {
    padding-left: 0 !important;
}
.u-p--l-xs {
    padding-left: var(--spacing-xs) !important;
}
.u-p--l-sm {
    padding-left: var(--spacing-sm) !important;
}
.u-p--l-md {
    padding-left: var(--spacing-md) !important;
}
.u-p--l-lg {
    padding-left: var(--spacing-lg) !important;
}
.u-p--l-xl {
    padding-left: var(--spacing-xl) !important;
}

.u-p--r-0 {
    padding-right: 0 !important;
}
.u-p--r-xs {
    padding-right: var(--spacing-xs) !important;
}
.u-p--r-sm {
    padding-right: var(--spacing-sm) !important;
}
.u-p--r-md {
    padding-right: var(--spacing-md) !important;
}
.u-p--r-lg {
    padding-right: var(--spacing-lg) !important;
}
.u-p--r-xl {
    padding-right: var(--spacing-xl) !important;
}

@include g.mq(default-max) {
    .u-p--0-sp {
        margin: 0 !important;
    }
    .u-p--xs-sp {
        margin: var(--spacing-xs) !important;
    }
    .u-p--sm-sp {
        margin: var(--spacing-sm) !important;
    }
    .u-p--md-sp {
        margin: var(--spacing-md) !important;
    }
    .u-p--lg-sp {
        margin: var(--spacing-lg) !important;
    }
    .u-p--xl-sp {
        margin: var(--spacing-xl) !important;
    }

    .u-p--t-0-sp {
        padding-top: 0 !important;
    }
    .u-p--t-xs-sp {
        padding-top: var(--spacing-xs) !important;
    }
    .u-p--t-sm-sp {
        padding-top: var(--spacing-sm) !important;
    }
    .u-p--t-md-sp {
        padding-top: var(--spacing-md) !important;
    }
    .u-p--t-lg-sp {
        padding-top: var(--spacing-lg) !important;
    }
    .u-p--t-xl-sp {
        padding-top: var(--spacing-xl) !important;
    }

    .u-p--b-0-sp {
        padding-bottom: 0 !important;
    }
    .u-p--b-xs-sp {
        padding-bottom: var(--spacing-xs) !important;
    }
    .u-p--b-sm-sp {
        padding-bottom: var(--spacing-sm) !important;
    }
    .u-p--b-md-sp {
        padding-bottom: var(--spacing-md) !important;
    }
    .u-p--b-lg-sp {
        padding-bottom: var(--spacing-lg) !important;
    }
    .u-p--b-xl-sp {
        padding-bottom: var(--spacing-xl) !important;
    }

    .u-p--l-0-sp {
        padding-left: 0 !important;
    }
    .u-p--l-xs-sp {
        padding-left: var(--spacing-xs) !important;
    }
    .u-p--l-sm-sp {
        padding-left: var(--spacing-sm) !important;
    }
    .u-p--l-md-sp {
        padding-left: var(--spacing-md) !important;
    }
    .u-p--l-lg-sp {
        padding-left: var(--spacing-lg) !important;
    }
    .u-p--l-xl-sp {
        padding-left: var(--spacing-xl) !important;
    }

    .u-p--r-0-sp {
        padding-right: 0 !important;
    }
    .u-p--r-xs-sp {
        padding-right: var(--spacing-xs) !important;
    }
    .u-p--r-sm-sp {
        padding-right: var(--spacing-sm) !important;
    }
    .u-p--r-md-sp {
        padding-right: var(--spacing-md) !important;
    }
    .u-p--r-lg-sp {
        padding-right: var(--spacing-lg) !important;
    }
    .u-p--r-xl-sp {
        padding-right: var(--spacing-xl) !important;
    }

}

@include g.mq(default) {
    .u-p--0-pc {
        margin: 0 !important;
    }
    .u-p--xs-pc {
        margin: var(--spacing-xs) !important;
    }
    .u-p--sm-pc {
        margin: var(--spacing-sm) !important;
    }
    .u-p--md-pc {
        margin: var(--spacing-md) !important;
    }
    .u-p--lg-pc {
        margin: var(--spacing-lg) !important;
    }
    .u-p--xl-pc {
        margin: var(--spacing-xl) !important;
    }

    .u-p--t-0-pc {
        padding-top: 0 !important;
    }
    .u-p--t-xs-pc {
        padding-top: var(--spacing-xs) !important;
    }
    .u-p--t-sm-pc {
        padding-top: var(--spacing-sm) !important;
    }
    .u-p--t-md-pc {
        padding-top: var(--spacing-md) !important;
    }
    .u-p--t-lg-pc {
        padding-top: var(--spacing-lg) !important;
    }
    .u-p--t-xl-pc {
        padding-top: var(--spacing-xl) !important;
    }

    .u-p--b-0-pc {
        padding-bottom: 0 !important;
    }
    .u-p--b-xs-pc {
        padding-bottom: var(--spacing-xs) !important;
    }
    .u-p--b-sm-pc {
        padding-bottom: var(--spacing-sm) !important;
    }
    .u-p--b-md-pc {
        padding-bottom: var(--spacing-md) !important;
    }
    .u-p--b-lg-pc {
        padding-bottom: var(--spacing-lg) !important;
    }
    .u-p--b-xl-pc {
        padding-bottom: var(--spacing-xl) !important;
    }

    .u-p--l-0-pc {
        padding-left: 0 !important;
    }
    .u-p--l-xs-pc {
        padding-left: var(--spacing-xs) !important;
    }
    .u-p--l-sm-pc {
        padding-left: var(--spacing-sm) !important;
    }
    .u-p--l-md-pc {
        padding-left: var(--spacing-md) !important;
    }
    .u-p--l-lg-pc {
        padding-left: var(--spacing-lg) !important;
    }
    .u-p--l-xl-pc {
        padding-left: var(--spacing-xl) !important;
    }

    .u-p--r-0-pc {
        padding-right: 0 !important;
    }
    .u-p--r-xs-pc {
        padding-right: var(--spacing-xs) !important;
    }
    .u-p--r-sm-pc {
        padding-right: var(--spacing-sm) !important;
    }
    .u-p--r-md-pc {
        padding-right: var(--spacing-md) !important;
    }
    .u-p--r-lg-pc {
        padding-right: var(--spacing-lg) !important;
    }
    .u-p--r-xl-pc {
        padding-right: var(--spacing-xl) !important;
    }

}
