@use "../../global" as g;
@use "sass:math";

.#{g.$pr}u-p--0 {
  margin: 0 !important;
}
.#{g.$pr}u-p--xs {
  margin: var(--mi-spacing-xs) !important;
}
.#{g.$pr}u-p--sm {
  margin: var(--mi-spacing-sm) !important;
}
.#{g.$pr}u-p--md {
  margin: var(--mi-spacing-md) !important;
}
.#{g.$pr}u-p--lg {
  margin: var(--mi-spacing-lg) !important;
}
.#{g.$pr}u-p--xl {
  margin: var(--mi-spacing-xl) !important;
}

.#{g.$pr}u-p--t-0 {
  padding-top: 0 !important;
}
.#{g.$pr}u-p--t-xs {
  padding-top: var(--mi-spacing-xs) !important;
}
.#{g.$pr}u-p--t-sm {
  padding-top: var(--mi-spacing-sm) !important;
}
.#{g.$pr}u-p--t-md {
  padding-top: var(--mi-spacing-md) !important;
}
.#{g.$pr}u-p--t-lg {
  padding-top: var(--mi-spacing-lg) !important;
}
.#{g.$pr}u-p--t-xl {
  padding-top: var(--mi-spacing-xl) !important;
}

.#{g.$pr}u-p--b-0 {
  padding-bottom: 0 !important;
}
.#{g.$pr}u-p--b-xs {
  padding-bottom: var(--mi-spacing-xs) !important;
}
.#{g.$pr}u-p--b-sm {
  padding-bottom: var(--mi-spacing-sm) !important;
}
.#{g.$pr}u-p--b-md {
  padding-bottom: var(--mi-spacing-md) !important;
}
.#{g.$pr}u-p--b-lg {
  padding-bottom: var(--mi-spacing-lg) !important;
}
.#{g.$pr}u-p--b-xl {
  padding-bottom: var(--mi-spacing-xl) !important;
}

.#{g.$pr}u-p--l-0 {
  padding-left: 0 !important;
}
.#{g.$pr}u-p--l-xs {
  padding-left: var(--mi-spacing-xs) !important;
}
.#{g.$pr}u-p--l-sm {
  padding-left: var(--mi-spacing-sm) !important;
}
.#{g.$pr}u-p--l-md {
  padding-left: var(--mi-spacing-md) !important;
}
.#{g.$pr}u-p--l-lg {
  padding-left: var(--mi-spacing-lg) !important;
}
.#{g.$pr}u-p--l-xl {
  padding-left: var(--mi-spacing-xl) !important;
}

.#{g.$pr}u-p--r-0 {
  padding-right: 0 !important;
}
.#{g.$pr}u-p--r-xs {
  padding-right: var(--mi-spacing-xs) !important;
}
.#{g.$pr}u-p--r-sm {
  padding-right: var(--mi-spacing-sm) !important;
}
.#{g.$pr}u-p--r-md {
  padding-right: var(--mi-spacing-md) !important;
}
.#{g.$pr}u-p--r-lg {
  padding-right: var(--mi-spacing-lg) !important;
}
.#{g.$pr}u-p--r-xl {
  padding-right: var(--mi-spacing-xl) !important;
}

@include g.mq(default-max) {
  .#{g.$pr}u-p--0-sp {
    margin: 0 !important;
  }
  .#{g.$pr}u-p--xs-sp {
    margin: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--sm-sp {
    margin: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--md-sp {
    margin: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--lg-sp {
    margin: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--xl-sp {
    margin: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--t-0-sp {
    padding-top: 0 !important;
  }
  .#{g.$pr}u-p--t-xs-sp {
    padding-top: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--t-sm-sp {
    padding-top: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--t-md-sp {
    padding-top: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--t-lg-sp {
    padding-top: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--t-xl-sp {
    padding-top: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--b-0-sp {
    padding-bottom: 0 !important;
  }
  .#{g.$pr}u-p--b-xs-sp {
    padding-bottom: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--b-sm-sp {
    padding-bottom: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--b-md-sp {
    padding-bottom: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--b-lg-sp {
    padding-bottom: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--b-xl-sp {
    padding-bottom: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--l-0-sp {
    padding-left: 0 !important;
  }
  .#{g.$pr}u-p--l-xs-sp {
    padding-left: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--l-sm-sp {
    padding-left: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--l-md-sp {
    padding-left: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--l-lg-sp {
    padding-left: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--l-xl-sp {
    padding-left: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--r-0-sp {
    padding-right: 0 !important;
  }
  .#{g.$pr}u-p--r-xs-sp {
    padding-right: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--r-sm-sp {
    padding-right: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--r-md-sp {
    padding-right: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--r-lg-sp {
    padding-right: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--r-xl-sp {
    padding-right: var(--mi-spacing-xl) !important;
  }

}

@include g.mq(default) {
  .#{g.$pr}u-p--0-pc {
    margin: 0 !important;
  }
  .#{g.$pr}u-p--xs-pc {
    margin: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--sm-pc {
    margin: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--md-pc {
    margin: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--lg-pc {
    margin: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--xl-pc {
    margin: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--t-0-pc {
    padding-top: 0 !important;
  }
  .#{g.$pr}u-p--t-xs-pc {
    padding-top: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--t-sm-pc {
    padding-top: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--t-md-pc {
    padding-top: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--t-lg-pc {
    padding-top: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--t-xl-pc {
    padding-top: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--b-0-pc {
    padding-bottom: 0 !important;
  }
  .#{g.$pr}u-p--b-xs-pc {
    padding-bottom: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--b-sm-pc {
    padding-bottom: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--b-md-pc {
    padding-bottom: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--b-lg-pc {
    padding-bottom: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--b-xl-pc {
    padding-bottom: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--l-0-pc {
    padding-left: 0 !important;
  }
  .#{g.$pr}u-p--l-xs-pc {
    padding-left: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--l-sm-pc {
    padding-left: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--l-md-pc {
    padding-left: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--l-lg-pc {
    padding-left: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--l-xl-pc {
    padding-left: var(--mi-spacing-xl) !important;
  }

  .#{g.$pr}u-p--r-0-pc {
    padding-right: 0 !important;
  }
  .#{g.$pr}u-p--r-xs-pc {
    padding-right: var(--mi-spacing-xs) !important;
  }
  .#{g.$pr}u-p--r-sm-pc {
    padding-right: var(--mi-spacing-sm) !important;
  }
  .#{g.$pr}u-p--r-md-pc {
    padding-right: var(--mi-spacing-md) !important;
  }
  .#{g.$pr}u-p--r-lg-pc {
    padding-right: var(--mi-spacing-lg) !important;
  }
  .#{g.$pr}u-p--r-xl-pc {
    padding-right: var(--mi-spacing-xl) !important;
  }

}
