@use "../../global" as g;
@use "sass:math";

.u-text--2xs {
    font-size: var(--font-size-2xs) !important;
}

.u-text--xs {
    font-size: var(--font-size-xs) !important;
}

.u-text--sm {
    font-size: var(--font-size-sm) !important;
}

.u-text--md,
.u-text--base {
    font-size: var(--font-size-md) !important;
}

.u-text--lg {
    font-size: var(--font-size-lg) !important;
}

.u-text--xl {
    font-size: var(--font-size-xl) !important;
}

.u-text--2xl {
    font-size: var(--font-size-2xl) !important;
}

.u-text--3xl {
    font-size: var(--font-size-3xl) !important;
}

.u-text--4xl {
    font-size: var(--font-size-4xl) !important;
}

.u-text--5xl {
    font-size: var(--font-size-5xl) !important;
}

